<div id="enqAdvantages" class="container-fluid pt-5 pt-md-8" style="max-width: 1400px;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-5 mx-3">
            <div class="p-4 text-center">
                <img src="img/enq/advantages/easy-to-join-icon.svg" class="mb-4" alt="Easy to join">
                <div class="h4">{{__ "ADVANTAGES.EASY_TO_JOIN"}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-5 mx-3">
            <div class="p-4 text-center">
                <img src="img/enq/advantages/easy-to-earn-icon.svg" class="mb-4" alt="Easy to join">
                <div class="h4">{{__ "ADVANTAGES.EASY_TO_EARN"}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-5 mx-3">
            <div class="p-4 text-center">
                <img src="img/enq/advantages/extremly-decentralized-icon.svg" class="mb-4" alt="Easy to join">
                <div class="h4">{{__ "ADVANTAGES.EXTREMELY_DECENTRALIZED"}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-5 mx-3">
            <div class="p-4 text-center">
                <img src="img/enq/advantages/max-privacy-icon.svg" class="mb-4" alt="Easy to join">
                <div class="h4">{{__ "ADVANTAGES.MAXIMUM_PRIVACY"}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mb-md-5 mx-3">
            <div class="p-4 text-center">
                <img src="img/enq/advantages/low-battery-consumption-icon.svg" class="mb-4" alt="Easy to join">
                <div class="h4">{{__ "ADVANTAGES.LOW_BATTERY_CONSUMPTION"}}</div>
            </div>
        </div>
    </div>
</div>