<div id="exchangesTable" class="row mx-auto">
  <div class="col-12">
    <div class="row table-row d-none d-md-flex align-items-center">
      <div class="col-4">
        {{__ 'EXCHANGES'}}
      </div>
      <div class="col-6 col-md-4">{{__ 'TRADING_PAIRS'}}</div>
      <div class="col-6 col-md-4">{{__ 'VOLUME'}} (24{{__ 'UNITS.HOUR'}})</div>        
    </div>
    <div class="row table-row align-items-center">
      <div class="col-12 text-center text-md-left col-md-4">
        <a href="https://www.kucoin.com/trade/ENQ-BTC">
          <img src="img/enq/exchanges/kucoin-logo-sm.png">
        </a>
      </div>
      <div class="col-12 text-center text-md-left col-md-4"><a href="https://www.kucoin.com/trade/ENQ-BTC">BTC</a>, <a href="https://www.kucoin.com/trade/ENQ-USDT">USDT</a></div>
      <div class="col-12 text-center text-md-left col-md-4"><span data-content="kucoin-volume">---</span><span class="d-md-none"> (24{{__ 'UNITS.HOUR'}})</span></div>        
    </div>
    <div class="row table-row align-items-center">
      <div class="col-12 text-center text-md-left col-md-4">
        <a href="https://crex24.com/exchange/ENQ-BTC?refid=c36hkj32l6utjurdd2wt">
          <img src="img/enq/exchanges/crex24-logo-sm.png">
        </a>
      </div>
      <div class="col-12 text-center text-md-left col-md-4"><a href="https://crex24.com/exchange/ENQ-BTC?refid=c36hkj32l6utjurdd2wt">BTC</a>, <a href="https://crex24.com/exchange/ENQ-USD?refid=c36hkj32l6utjurdd2wt">USD</a>, <a href="https://crex24.com/exchange/ENQ-RUB?refid=c36hkj32l6utjurdd2wt">RUB</a></div>
      <div class="col-12 text-center text-md-left col-md-4"><span data-content="crex24-volume">---</span><span class="d-md-none"> (24{{__ 'UNITS.HOUR'}})</span></div>        
    </div>
    <div class="row table-row align-items-center">
      <div class="col-12 text-center text-md-left col-md-4">
        <a href="https://graviex.net/markets/enqbtc">
          <img src="img/enq/exchanges/graviex-logo-sm.png">
        </a>
      </div>
      <div class="col-12 text-center text-md-left col-md-4"><a href="https://graviex.net/markets/enqbtc">BTC</a>, <a href="https://graviex.net/markets/enqusdt">USDT</a>, <a href="https://graviex.net/markets/enqeth">ETH</a></div>
      <div class="col-12 text-center text-md-left col-md-4"><span data-content="graviex-volume">---</span><span class="d-md-none"> (24{{__ 'UNITS.HOUR'}})</span></div>        
    </div>
  </div>
</div>