
    <div class="container pt-8 pb-5">
        <h3 class="text-center mb-7">{{__ "FAQ.TITLE"}}</h3>
        <div class="row">
            <div id="stickyBlockFAQ" class="col-lg-3 mb-7 mb-lg-0 pt-2" style="">
                <!-- Nav -->
                <nav class="js-sticky-block-faq card border-0 bg-primary" data-offset-target="" data-parent="#stickyBlockFAQ" data-sticky-view="lg" data-start-point="#stickyBlockFAQ" data-end-point="#stickyBlockFAQEndPoint" data-offset-top="24" data-offset-bottom="24" style="">
                    <ul class="js-scroll-nav list-group list-group-transparent list-group-white list-group-flush list-group-borderless py-3 px-5">
                        <li class="active">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#faq-about-project">{{__ "FAQ.CONTENT.THE_PROJECT.TITLE"}}</a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#faq-start-mining">{{__ "FAQ.CONTENT.START_MINING.TITLE"}}</a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#faq-impact-on-device">{{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.TITLE"}}</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Nav -->
            </div>

            <div class="col-lg-9">
                <div id="faq-about-project" class="mb-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>{{__ "FAQ.CONTENT.THE_PROJECT.TITLE"}}</h3>
                    </div>
                    <!-- End Title -->

                    <!-- Basics Accordion -->
                    <div id="basicsAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
                                        {{__ "FAQ.CONTENT.THE_PROJECT.QS.Q1_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion" style="">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.THE_PROJECT.QS.Q1_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                        {{__ "FAQ.CONTENT.THE_PROJECT.QS.Q2_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.THE_PROJECT.QS.Q2_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Basics Accordion -->
                </div>

                <hr class="my-0">

                <div id="faq-start-mining" class="my-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>{{__ "FAQ.CONTENT.START_MINING.TITLE"}}</h3>
                    </div>
                    <!-- End Title -->

                    <!-- Mining Accordion -->
                    <div id="miningAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3" data-toggle="collapse" data-target="#miningCollapseOne" aria-expanded="false" aria-controls="miningCollapseOne">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q1_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseOne" class="collapse show" aria-labelledby="miningHeadingOne" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q1_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseTwo" aria-expanded="false" aria-controls="miningCollapseTwo">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q2_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseTwo" class="collapse" aria-labelledby="miningHeadingTwo" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q2_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseThree" aria-expanded="false" aria-controls="miningCollapseThree">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q3_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseThree" class="collapse" aria-labelledby="miningHeadingThree" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q3_ANSW_P1"}} <a href="{{guidesLink}}/how-to-swap.html#enq-erc-20-→-enq-testnet-swap">{{__ "FAQ.TITLE"}}</a>.
                                    <!-- Video Content Section -->
                                    <div id="SVGwave2BottomSMShape" class="mt-3 position-relative">
                                        <div class="d-inline-block mb-0">
                                            <!-- Fancybox -->
                                            <a class="js-fancybox d-inline-block u-media-player mb-4" href="javascript:;"
                                               data-src="https://youtu.be/2SOaK6xQFGQ"
                                               data-speed="700"
                                               data-animate-in="zoomIn"
                                               data-animate-out="zoomOut"
                                               data-caption="Enecuum. Open tomorrow">

                                              <span class="u-media-player__icon u-media-player__icon--primary">
                                                  <span class="fas fa-play u-media-player__icon-inner"></span>
                                              </span>
                                            </a>
                                            <!-- End Fancybox -->
                                            <span class="ml-2 no-wrap font-weight-bolder">{{__ 'PLAY_VIDEO'}}</span>
                                        </div>
                                    </div>
                                    <!-- End Video Content -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseFour" aria-expanded="false" aria-controls="miningCollapseFour">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q4_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseFour" class="collapse" aria-labelledby="miningHeadingFour" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q4_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseFive" aria-expanded="false" aria-controls="miningCollapseFive">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q5_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseFive" class="collapse" aria-labelledby="miningHeadingFive" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q5_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                                                <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseSix" aria-expanded="false" aria-controls="miningCollapseSix">
                                        {{__ "FAQ.CONTENT.START_MINING.QS.Q6_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseSix" class="collapse" aria-labelledby="miningHeadingSix" data-parent="#miningAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.START_MINING.QS.Q6_ANSW_P1"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End mining Accordion -->
                </div>

                <hr class="my-0">

                <div id="faq-impact-on-device" class="my-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>{{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.TITLE"}}</h3>
                    </div>
                    <!-- End Title -->

                    <!-- phone Accordion -->
                    <div id="phoneAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#phoneCollapseOne" aria-expanded="false" aria-controls="phoneCollapseOne">
                                        {{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q1_TITLE"}}

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseOne" class="collapse" aria-labelledby="phoneHeadingOne" data-parent="#phoneAccordion" style="">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q1_ANSW_P1_1"}} <a href="{{mobileImpactArticleLink}}">{{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q1_ANSW_P1_2"}}</a> {{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q1_ANSW_P1_3"}}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#phoneCollapseTwo" aria-expanded="false" aria-controls="phoneCollapseTwo">
                                        {{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q2_TITLE"}}
                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseTwo" class="collapse" aria-labelledby="phoneHeadingTwo" data-parent="#phoneAccordion">
                                <div class="card-body">
                                    {{__ "FAQ.CONTENT.IMPACT_ON_DEVICE.QS.Q2_ANSW_P1"}}
                                    </div>
                            </div>
                        </div>
                        <!-- End Card -->




                    </div>
                    <!-- End phone Accordion -->
                </div>



            </div>
        </div>
    </div>


<div id="stickyBlockFAQEndPoint"></div>