<footer id="footerPromo" class="bg-dark">
  <div class="border-bottom">
    <div class="container space-top-2 px-5 text-white">
      <div class="row justify-content-lg-between mb-4">
        <div class="col-12 col-lg-6 justify-content-center justify-content-lg-left d-block d-lg-flex flex-column text-center">
          <img src="/img/enq/footer-enecuum-title.png" class="mb-5 w-80 mx-auto" alt="Enecuum">
          {{> socialNetworksWidget}}
        </div>
        <div class="col-12 col-lg-6">
              <div class="row pl-0 pl-lg-8 justify-content-center justify-content-lg-start">
                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- List Group -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="/team"><div class="h5 text-white" style="white-space: nowrap;">{{__ 'ABOUT'}}</div></a></li>
                      </ul>
                      <!-- End List Group -->
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- List Group -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="/market-stats"><div class="h5 text-white">{{__ 'STATS'}}</div></a></li>
                      </ul>
                      <!-- End List Group -->
                  </div>


                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- Address -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="/buy"><div class="h5 text-white">ENQ</div></a></li>
                      </ul>
                      <!-- End Address -->
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- Address -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="/technology"><div class="h5 text-white">{{__ 'TECHNOLOGY'}}</div></a></li>
                      </ul>
                      <!-- End Address -->
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- List Group -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="{{guidesLink}}"><div class="h5 text-white">{{__ 'GUIDES'}}</div></a></li>
                      </ul>
                      <!-- End List Group -->
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 text-center text-lg-left mb-3">
                      <!-- List Group -->
                      <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                          <li><a class="list-group-item list-group-item-action transition-3d-hover" href="{{guidesLink}}/faq/"><div class="h5 text-white">FAQ</div></a></li>
                      </ul>
                      <!-- End List Group -->
                  </div>
              </div>
          </div>
      </div>
      {{> downloadApplicationsRowOrientation}}
      <div class="text-left small mb-3">        
        <div>Enecuum Network Ltd.</div>
        <div>Address: Suite 1, Second Floor, Francis Rachel Street, Victoria, Mahe, Seychelles</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between py-3 align-items-center">
      <a href="/pdf/terms.pdf" class="order-0 order-md-0 py-1 py-md-0 small text-white font-weight-bolder text-center text-md-left">{{__ 'TERMS_OF_SERVICE'}}</a>
      <!-- Logo -->
      <a href="/" aria-label="Enecuum" class="order-2 mx-auto order-md-1 pt-4 py-md-0 text-center">
        <img src="/img/enq/enecuum-logo.svg" class="w-100" alt="Enecuum logo">
      </a>
      <!-- End Logo -->
      <a href="/pdf/privacy.pdf" class="order-1 order-md-2 py-1 py-md-0 small text-white font-weight-bolder text-center text-md-left">{{__ 'PRIVACY_POLICY'}}</a>
    </div>
  </div>
</footer>

{{> cookiesAlertWidget}}
