<footer id="footerСommon" class="bg-dark">
  <div class="border-bottom">
    <div class="container space-top-2 px-5 text-white" style="max-width: 1400px;">
      <div class="row justify-content-lg-between mb-7">
        <div class="col-12 col-lg-4 justify-content-center justify-content-lg-left d-block d-lg-flex flex-column text-center">
          <img src="/img/enq/footer-enecuum-title.png" class="mb-5 w-80 w-sm-auto w-lg-100 w-xl-100 mb-lg-auto" alt="Enecuum">

          <div class="my-lg-auto text-center">
            <h5 class="mb-2">{{__ 'DOWNLOAD_ANDROID_MASTERNODE'}}</h5>
            <div class="mb-5"><a class="btn btn-primary py-0 mr-0 transition-3d-hover" href="{{enecuumAppLink.masternode}}" role="button" style="border: 2px solid #a6a6a6; background: black;"><div class="d-flex align-items-center" style="height: 48px;"><i class="fab fa-android mr-2" style="font-size: 37px;"></i><span class="font-weight-bold font-size-03">Android miner</span></div></a></div>

            <h5 class="mb-2">{{__ 'WALLETS'}}</h5>
            <div class="mb-5">
              <div class="d-flex flex-column justify-content-center mx-auto justify-content-md-start">
                <div class="flex-grow-0 flex-shrink-0 ">
                <a class="btn btn-primary py-0 mr-0 transition-3d-hover mb-3" href="https://wallet.enecuum.com" role="button" style="border: 2px solid #a6a6a6; background: black; width: 174px;"><div class="d-flex align-items-center" style="height: 50px;"><i class="fas fa-desktop mr-2"  style="font-size: 20px;"></i><span class="font-weight-bold font-size-03">Web wallet</span></div></a>
                </div>
                <div class="flex-grow-0 flex-shrink-0 ">
                <a href="{{enecuumAppLink.googlePlay}}" role="button" class="btn btn-primary p-0 mr-0 transition-3d-hover mb-3" style="border: 2px solid #a6a6a6; background: black; width: 174px">
                  <img src="/img/enq/online-app-markets/google-play-badge-1.png" height="50" alt="Google play badge">
                </a>
                </div>
                <div  class="flex-grow-0 flex-shrink-0 ">
                 <a class="btn btn-primary py-0 mr-0 transition-3d-hover mb-3" href="https://testflight.apple.com/join/EhGhg78t" role="button" style="border: 2px solid #a6a6a6; background: black; width: 174px;"><div class="d-flex align-items-center" style="height: 50px;"><i class="fab fa-apple mr-2" style="font-size: 30px;"></i><span class="font-weight-bold font-size-03">iOS wallet</span></div></a>
                 </div>      
              </div>
            </div>
          </div>
          {{> socialNetworksWidget}}        
        </div>
        <div class="col-12 col-lg-8">
          <div class="row pl-0 pl-lg-8">
            <div class="col-12 col-sm-6 col-md-4 text-center text-md-left mb-7 mb-5">
              <h4 class="h5 text-white">{{__ 'ABOUT'}}</h4>
              <!-- List Group -->
              <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                <li><a class="list-group-item list-group-item-action" href="/mission-and-purpose">{{__ 'MISSION_AND_PURPOSE'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/documentation">{{__ 'DOCUMENTATION'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/team">{{__ 'TEAM'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/roadmap">{{__ 'ROADMAP'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/partners">{{__ 'PARTNERS'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/news-and-community">{{__ 'NEWS_AND_COMMUNITY'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/market-stats">{{__ 'MARKET_STATS'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/network-stats">{{__ 'NETWORK_STATS'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="https://neuro.enecuum.com/">{{__ 'BLOCKCHAIN_EXPLORER'}}</a></li> 
              </ul>
              <!-- End List Group -->
            </div>

            <div class="col-12 col-sm-6 col-md-4 text-center text-md-left mb-7 mb-5">
              <h4 class="h5 text-white">ENQ</h4>
              <!-- Address -->
              <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                <li><a class="list-group-item list-group-item-action" href="/buy">{{__ 'BUY'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/earn">{{__ 'EARN'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/hold">{{__ 'HOLD'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/utility">{{__ 'UTILITY'}}</a></li>
              </ul>
              <!-- End Address -->
            </div>        

            <div class="col-12 col-sm-6 col-md-4 text-center text-md-left mb-7 mb-5">
              <h4 class="h5 text-white">{{__ 'TECHNOLOGY'}}</h4>

              <!-- Address -->
              <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyTrinityProtocol">{{__ 'TECHNOLOGY_PAGE.TRINITY_PROTOCOL.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyPOAMasternode">{{__ 'TECHNOLOGY_PAGE.POA_MOBILE_MASTERNODE.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyPOSNode">{{__ 'TECHNOLOGY_PAGE.POS_NODE.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyPOWNode">{{__ 'TECHNOLOGY_PAGE.POW_NODE.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyTokenMachine">{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologyFeePrinciple">{{__ 'TECHNOLOGY_PAGE.FEE_PRINCIPLE.H_1'}}</a></li>
                <li><a class="list-group-item list-group-item-action" href="/technology#technologySmartContracts">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.TITLE'}}</a></li>  
              </ul>
              <!-- End Address -->
            </div>

            <div class="col-12 col-sm-6 col-md-4 text-center text-md-left mb-7 mb-5">
              <h4 class="h5 text-white">{{__ 'PRODUCTS'}}</h4>

              <!-- Address -->
              <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="/products#productsAndroidMN">{{__ 'PRODUCTS_PAGE.ANDROID_MASTERNODE.H_1'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="/products#productsMobileWallet">{{__ 'PRODUCTS_PAGE.MOBILE_WALLET.H_1'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="/products#productsWebWallet">{{__ 'PRODUCTS_PAGE.WEB_WALLET.H_1'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="/products#productsBlockchainExplorer">{{__ 'PRODUCTS_PAGE.BLOCKCHAIN_EXPLORER.H_1'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="/products#productsMultiMiner">{{__ 'PRODUCTS_PAGE.MOBILE_MULTIMINER.H_1'}}</a></li> 
              </ul>
              <!-- End Address -->
            </div>            

            <div class="col-12 col-sm-6 col-md-4 text-center text-md-left mb-7 mb-5">
              <h4 class="h5 text-white">{{__ 'GUIDES'}}</h4>

              <!-- List Group -->
              <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/faq.html">{{__ 'FAQ.TITLE'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/enq/how-to-use.html">{{__ 'HOW_TO_USE_THE_APP'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/enq/how-to-buy.html">{{__ 'HOW_TO_BUY_ENQ_ON_EXCHANGE'}}</a></li>
<!--               <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/how-by-card.html">{{__ 'HOW_TO_BUY_ENQ_USING_BANK_CARD'}}</a></li> -->
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/enq/referral.html">{{__ 'HOW_TO_JOIN_THE_REFERRAL_PROGRAM'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/enq/how-does-roi-work.html">{{__ 'HOW_DOES_ROI_CALCULATOR_WORK'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/">{{__ 'HOW_TO_MINE'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}{{emissionModel}}.html">{{__ 'EMISSION_MODEL'}}</a></li>
              <li><a class="list-group-item list-group-item-action" href="{{guidesLink}}/research.html">{{__ 'RESEARCH_PAPERS'}}</a></li>                       
              </ul>
              <!-- End List Group -->
            </div>
          </div>
        </div>
      </div>
      <div class="text-left small mb-3">        
        <div>Enecuum HK Limited</div>
        <div>Address: 20/F, Central Tower, 28 Queens Road Central, Hong Kong</div>
      </div>
    </div>
  </div>

  <div class="container"  style="max-width: 1400px;">  
    <div class="d-flex flex-column flex-md-row justify-content-between py-3 align-items-center">
      <a href="/pdf/terms.pdf" class="order-0 order-md-0 py-1 py-md-0 small text-white font-weight-bolder text-center text-md-left">{{__ 'TERMS_OF_SERVICE'}}</a>
      <!-- Logo -->
      <a href="/" aria-label="Enecuum" class="order-2 mx-auto order-md-1 pt-4 py-md-0 text-center">
        <img src="/img/enq/enecuum-logo.svg" class="w-100" alt="Enecuum logo">
      </a>
      <!-- End Logo -->
      <a href="/pdf/privacy.pdf" class="order-1 order-md-2 py-1 py-md-0 small text-white font-weight-bolder text-center text-md-left">{{__ 'PRIVACY_POLICY'}}</a>
    </div>
  </div>
</footer>

{{> cookiesAlertWidget}}
