<ul>
  <li class="d-flex py-3 py-lg-4"><div class="mr-3 token-feature-ico t-in-game-points-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.FUNGIBLE_TOKENS.FEATURES.F_1'}}</span></li>
  <li class="d-flex py-3 py-lg-4"><div class="mr-3 token-feature-ico t-stable-coins-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.FUNGIBLE_TOKENS.FEATURES.F_2'}}</span></li>
  <li class="d-flex py-3 py-lg-4"><div class="mr-3 token-feature-ico t-crowdfunding-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.FUNGIBLE_TOKENS.FEATURES.F_3'}}</span></li>
  <li class="d-flex py-3 py-lg-4"><div class="mr-3 token-feature-ico t-system-credits-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.FUNGIBLE_TOKENS.FEATURES.F_4'}}</span></li>
  <li class="d-flex py-3 py-lg-4"><div class="mr-3 token-feature-ico t-cryptocurrencies-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.FUNGIBLE_TOKENS.FEATURES.F_5'}}</span></li>
</ul>