<div class="u-header__section bg-dark">
  <div id="logoAndNavWithDropdown" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center py-2" href="/" aria-label="Front">
        <img src="/img/enq/enecuum-logo.svg" alt="Enecuum logo">
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger"
              aria-label="Toggle navigation"
              aria-expanded="false"
              aria-controls="navBarWithDropdown"
              data-toggle="collapse"
              data-target="#navBarWithDropdown">
        <span id="hamburgerTriggerWithDropdown" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBarWithDropdown" class="collapse navbar-collapse u-header__navbar-collapse mt-4 mt-lg-0 pb-4 pb-lg-0">
        <ul class="navbar-nav u-header__navbar-nav">
           <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="aboutDropdownNav" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="aboutDropdownSubmenu">{{__ 'ABOUT'}}</a>
            <!-- Dropdown - Submenu -->
            <ul id="aboutDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="aboutDropdownNav" style="min-width: 230px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/mission-and-purpose">{{__ 'MISSION_AND_PURPOSE'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/documentation">{{__ 'DOCUMENTATION'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/team">{{__ 'TEAM'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/roadmap">{{__ 'ROADMAP'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/partners">{{__ 'PARTNERS'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/news-and-community">{{__ 'NEWS_AND_COMMUNITY'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/market-stats">{{__ 'MARKET_STATS'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/network-stats">{{__ 'NETWORK_STATS'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="https://neuro.enecuum.com/">{{__ 'BLOCKCHAIN_EXPLORER'}}</a></li> 
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->

           <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="enqDropdownNav" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="enqDropdownSubmenu">ENQ</a>
            <!-- Dropdown - Submenu -->
            <ul id="enqDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="enqDropdownNav" style="min-width: 230px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/buy">{{__ 'BUY'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/earn">{{__ 'EARN'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/hold">{{__ 'HOLD'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/utility">{{__ 'UTILITY'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/how-to-swap">{{__ 'SWAP'}}</a></li>              
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->

           <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="technologyDropdownNav" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="/technology" aria-haspopup="true" aria-expanded="false" aria-labelledby="technologyDropdownSubmenu">{{__ 'TECHNOLOGY'}}</a>
            <!-- Dropdown - Submenu -->
            <ul id="technologyDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="technologyDropdownNav" style="min-width: 230px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyTrinityProtocol">{{__ 'TECHNOLOGY_PAGE.TRINITY_PROTOCOL.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyPOAMasternode">{{__ 'TECHNOLOGY_PAGE.POA_MOBILE_MASTERNODE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyPOSNode">{{__ 'TECHNOLOGY_PAGE.POS_NODE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyPOWNode">{{__ 'TECHNOLOGY_PAGE.POW_NODE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyTokenMachine">{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologyFeePrinciple">{{__ 'TECHNOLOGY_PAGE.FEE_PRINCIPLE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/technology#technologySmartContracts">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.TITLE'}}</a></li>                                           
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->

           <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="productsDropdownNav" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="/products" aria-haspopup="true" aria-expanded="false" aria-labelledby="productsDropdownSubmenu">{{__ 'PRODUCTS'}}</a>
            <!-- Dropdown - Submenu -->
            <ul id="productsDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="productsDropdownNav" style="min-width: 250px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsAndroidMN">{{__ 'PRODUCTS_PAGE.ANDROID_MASTERNODE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsMobileWallet">{{__ 'PRODUCTS_PAGE.MOBILE_WALLET.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsWebWallet">{{__ 'PRODUCTS_PAGE.WEB_WALLET.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsBlockchainExplorer">{{__ 'PRODUCTS_PAGE.BLOCKCHAIN_EXPLORER.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsSwapService">{{__ 'PRODUCTS_PAGE.SWAP_SERVICE.H_1'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="/products#productsMultiMiner">{{__ 'PRODUCTS_PAGE.MOBILE_MULTIMINER.H_1'}}</a></li>                          
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->          

          <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="guidesDropdownNav" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="guidesDropdownSubmenu">{{__ 'GUIDES'}}</a>
            <!-- Dropdown - Submenu -->
            <ul id="guidesDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="guidesDropdownNav" style="min-width: 280px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/faq">{{__ 'FAQ.TITLE'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}{{emissionModel}}">{{__ 'EMISSION_MODEL'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/how-to-use">{{__ 'HOW_TO_USE_THE_APP'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/how-to-buy">{{__ 'HOW_TO_BUY_ENQ_ON_EXCHANGE'}}</a></li>
<!--               <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/how-by-card">{{__ 'HOW_TO_BUY_ENQ_USING_BANK_CARD'}}</a></li> -->
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/how-to-swap">{{__ 'HOW_TO_SWAP_ENQ'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/referral">{{__ 'HOW_TO_JOIN_THE_REFERRAL_PROGRAM'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/enq/how-does-roi-work">{{__ 'HOW_DOES_ROI_CALCULATOR_WORK'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/">{{__ 'HOW_TO_MINE'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}{{emissionModel}}">{{__ 'EMISSION_MODEL'}}</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{guidesLink}}/research">{{__ 'RESEARCH_PAPERS'}}</a></li>                        
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->

          <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="languageDropdownInvoker" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="languageDropdownSubmenu">
              <img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/{{currentFlag}}.svg" alt="SVG">
              <span class="d-inline-block">{{__ 'LANGUAGE'}}</span>
            </a>
            <!-- Dropdown - Submenu -->
            <ul id="languageDropdownSubmenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="languageDropdownInvoker" style="min-width: 150px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="?lang=ru"><img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/ru.svg" alt="Russian Federation flag SVG">Русский</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="?lang=en"><img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/gb.svg" alt="UK flag SVG">English</a></li>
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
</div>
