<div class="container" id="startMiningToday">
    <div class="row">
        <div class="col-12 col-lg-6 py-10">
            <h2 class="mb-8 text-center text-md-left">{{__ 'JOIN_ENECUUM_NETWORK'}}</h2>
            {{> lightROICalc}}

            <div class="text-center text-md-left ">
                <h4 class="mb-5">{{__ 'DOWNLOAD_ANDROID_MASTERNODE'}}</h4>
                <div class="mb-5">
                    <a class="androidminerButton btn btn-primary py-0 mr-0 mr-md-3 transition-3d-hover" href="{{enecuumAppLink.masternode}}" role="button" style="border: 2px solid #a6a6a6; background: black;">
                        <div class="d-flex align-items-center" style="height: 48px;"><i class="fab fa-android mr-2" style="font-size: 37px;"></i><span class="font-weight-bold font-size-03">Android miner</span></div>
                    </a>
                </div>
                <h4 class="mb-2">{{__ 'WALLETS'}}</h4>

                <div class="mb-5">
                    <div class="d-flex flex-column justify-content-center mx-auto flex-md-row justify-content-md-start">
                        <div class="flex-grow-0 flex-shrink-0 ">
                            <a class="webwalletButton btn btn-primary py-0 mr-0 mr-md-3 transition-3d-hover mb-3" href="https://wallet.enecuum.com" role="button" style="border: 2px solid #a6a6a6; background: black; width: 174px;">
                                <div class="d-flex align-items-center" style="height: 50px;"><i class="fas fa-desktop mr-2" style="font-size: 20px;"></i><span class="font-weight-bold font-size-03">Web wallet</span></div>
                            </a>
                        </div>
                        <div class="flex-grow-0 flex-shrink-0 ">
                            <a href="{{enecuumAppLink.googlePlay}}" role="button" class="googleplayWalletButton btn btn-primary p-0 mr-0 mr-md-3 transition-3d-hover mb-3" style="border: 2px solid #a6a6a6; background: black;">
                                <img src="/img/enq/online-app-markets/google-play-badge-1.png" alt="Google play badge" height="50">
                            </a>
                        </div>
                        <div class="flex-grow-0 flex-shrink-0 ">
                            <a class="ioswalletButton btn btn-primary py-0 mr-0 mr-md-3 transition-3d-hover  mb-3" href="https://testflight.apple.com/join/WHOMGLUZ" role="button" style="border: 2px solid #a6a6a6; background: black; width: 174px;">
                                <div class="d-flex align-items-center" style="height: 50px;"><i class="fab fa-apple mr-2" style="font-size: 30px;"></i><span class="font-weight-bold font-size-03">iOS wallet</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-flex align-items-center">
            <div class="position-relative ml-auto" id="startMiningMobileColumn">
                <img src="/img/enq/start-mining-mobile.png" alt="Start minig mobile">
                <div id="startMiningBlueMark" class="start-mining-{{currentLang}}">{{__ 'START_MINING'}}</div>
                <a href="{{guidesLink}}" target="_blank" id="startMiningBlueMarkRing" class="startminingButton rotating"></a>
            </div>
        </div>
    </div>
</div>
