<ul>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-in-game-items-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_1'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-supply-chain-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_2'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-real-estate-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_3'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-identity-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_4'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-certifications-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_5'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-collectables-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_6'}}</span></li>
  <li class="d-flex py-3"><div class="mr-3 token-feature-ico t-gift-cards-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.NON_FUNGIBLE_TOKENS.FEATURES.F_7'}}</span></li>                  
</ul>