<div id="ROICalcContainer">
  <h2 class="h2 font-weight-semi-bold text-center mb-8">{{__ 'MOBILE_MN_ROI_CALCULATOR'}}</h2>
  <div class="row" id="calculator">
    <div class="card-body">
      <div class="row">
          <div class="col-xl-3 col-sm-12">
              <div class="mt-3">{{__ 'ROI_RANGE'}}</div>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="refCheck">
                  <label class="custom-control-label pt-1 pl-2" for="refCheck">{{__ 'IS_REFERRAL'}}</label>
              </div>
          </div>
          <div class="col-xl-9 col-sm-12">
              <div class="form-row align-items-center">
                  <div class="col-md-5 form-group mb-3 mt-3 mr-5">
                      <label for="roiStake">{{__ 'ROI_STAKE'}}</label>
                      <input type="text" id="roiStake" class="form-control" value="25">
                      <span id="roiStakeErrorMessage" class="form-text font-weight-bolder danger-error small">{{__ 'INCORRECT_STAKE_RANGE_MESSAGE'}}</span>
                  </div>
                  <div class="col-md-5 form-group mb-3 mt-0 mt-md-4">
                    <div id="roiStakeUSD" class="h3 h-bolder text-blue pt-1"> </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div id="roiCalcCards" class="row" data-content="lang-{{currentFlag}}"></div>
</div>