<div class="w-100">
    <div class="container space-2 space-md-3" id="trinityConsensus">
        <h2 class="mb-4">{{__ 'TRINITY_CONSENSUS'}}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    {{__ 'TECHNOLOGY_PAGE.TRINITY_CONSENSUS.P_1'}}
                </div>
                <div>
                    {{__ 'TECHNOLOGY_PAGE.TRINITY_CONSENSUS.P_2'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container space-2 space-md-3" id="blockDagStructure">
        <div class="row">
            <h2 class="col-12 offset-0 col-lg-6 offset-lg-6 mb-4">{{__ 'BLOCK_DAG_STRUCTURE'}}</h2>
            <div class="col-12 offset-0 col-lg-6 offset-lg-6">
                <div class="mb-3">
                    {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_1'}}
                </div>
                <div class="mb-3">
                    {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_2'}}
                </div>
                <div>
                    {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_3'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <div class="container space-2 space-md-3" id="networkPerformance">
        <h2 class="mb-4">{{__ 'NETWORK_PERFORMANCE_AND_TOPOLOGY'}}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <ul>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_1'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_2'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_3'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_4'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_5'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_6'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_7'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_8'}};</li>
                        <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_9'}}.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <table class="table table-to-cards">
                    <thead>
                    <tr>
                        <th class="text-muted">{{__ 'NODES'}} (Pos/Pow + PoA)</th>
                        <th class="text-muted">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</th>
                        <th class="text-muted">{{__ 'PROOF'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>100 + 3000</td>
                        <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>9000 tps/ 5 {{__ 'UNITS.S'}}</td>
                        <td><span class="scope-col">{{__ 'PROOF'}}</span>{{__ 'TEST_NET'}}</td>
                    </tr>
                    <tr>
                        <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>2 000 + 25 000</td>
                        <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>12000 tps/ 9 {{__ 'UNITS.S'}}</td>
                        <td><span class="scope-col">{{__ 'PROOF'}}</span>9 {{__ 'UNITS.S'}} {{__ 'SIMULATION'}}</td>
                    </tr>
                    <tr>
                        <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>5 000 + 15 000 000</td>
                        <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>18000 tps/ 25 {{__ 'UNITS.S'}}</td>
                        <td><span class="scope-col">{{__ 'PROOF'}}</span>25 {{__ 'UNITS.S'}} {{__ 'ANALYTICS'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bg-light pt-4 pb-8">
    <div class="container space-2 space-md-3" id="infrastructureAndEcosystem">
        <div class="row">
            <h2 class="col-12 offset-0 col-lg-6 offset-lg-6 mb-4">{{__ 'INFRASTRUCTURE_AND_ECOSYSTEM'}}</h2>
            <div class="col-12 offset-0 col-lg-6 offset-lg-6">
                <ul>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_1'}};</li>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_2'}};</li>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_3'}};</li>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_4'}};</li>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_5'}};</li>
                    <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_6'}}.</li>
                </ul>
            </div>
        </div>
    </div>
</div>