<div class="container space-2 space-lg-2">
    <div class="row">
        <div class="col-sm-12 col-xl-6 mb-10 mb-xl-0">
            <div class="get-documentation">
                <div class="get-documentation-title">
                    <h3>{{__ 'WHITEPAPER'}}</h3>
                    <div class="font-weight-bolder mb-3">{{__ 'MONTHS.DECEMBER'}} 2018</div>
                </div>
                <p class="get-documentation-content">
                    {{__ 'WHITEPAPER_DESCR'}}
                    <a href="pdf/pp_en.pdf" class="get-documentation-download-link transition-3d-hover" download>
                        <img src="img/enq/whitepaper.svg" alt="Whitepaper icon">
                    </a>
                </p>
                <a role="button" href="pdf/pp_en.pdf" target="_blank" class="btn btn-primary d-xl-none">{{__ 'READ_MORE'}}</a>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6 mb-7 mb-sm-1">
            <div class="get-documentation">
                <div class="get-documentation-title">
                    <h3>{{__ 'TECHPAPER'}}</h3>
                    <div class="font-weight-bolder mb-3">{{__ 'MONTHS.MAY'}} 2019</div>
                </div>
                <p class="get-documentation-content">
                    {{__ 'TECHPAPER_DESCR'}}
                    <a href="pdf/tp_en.pdf" class="get-documentation-download-link transition-3d-hover" download>
                        <img src="img/enq/techpaper.svg" alt="Techpaper icon">
                    </a>
                </p>
                <a role="button" href="pdf/tp_en.pdf" target="_blank" class="btn btn-primary d-xl-none">{{__ 'READ_MORE'}}</a>
            </div>
        </div>
    </div>
    <div class="row d-none d-sm-none d-xl-flex">
        <div class="col-sm-12 col-lg-6">
            <div class="read-more-container">
                <a role="button" href="pdf/pp_en.pdf" target="_blank" class="btn btn-primary">{{__ 'READ_MORE'}}</a>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 mb-7 mb-sm-1">
            <div class="row">
                <div class="col-8 offset-4">
                    <a role="button" href="pdf/tp_en.pdf" target="_blank" class="btn btn-primary">{{__ 'READ_MORE'}}</a>
                </div>
            </div>
        </div>
    </div>
</div>