<div class="container space-2 space-lg-2">
  <div class="row d-none d-lg-flex">
    <div class="col-12 col-lg-4 mb-7 mb-sm-1">
      <div class="pr-lg-4">
        <h3>
          {{__ 'ABOUT_S3_C1_TITLE_P1'}}<br/>{{__ 'ABOUT_S3_C1_TITLE_P2'}}
        </h3>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-7 mb-sm-1">
      <div class="pr-lg-4">
        <h3>
          {{__ 'EASY_JOIN'}},<br/>{{__ 'EASY_EARN'}}
        </h3>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-7 mb-sm-1">
      <div class="pr-lg-4">
        <h3>
          {{__ 'DAPPS_WEB_3_0_ECOSYSTEM_P1'}}<br/>{{__ 'DAPPS_WEB_3_0_ECOSYSTEM_P2'}}
        </h3>
      </div>
    </div>
  </div>      
    <div class="row">
      <div class="col-12 col-lg-4 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <h3 class="d-block d-lg-none">
            {{__ 'ABOUT_S3_C1_TITLE_P1'}} {{__ 'ABOUT_S3_C1_TITLE_P2'}}
          </h3>
          <div>
            {{__ 'ABOUT_S3_C1'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-7 mb-lg-0">
        <div class="pr-lg-4">
          <h3 class="d-block d-lg-none">
            {{__ 'EASY_JOIN'}}, {{__ 'EASY_EARN'}}
          </h3>
          <div>
            {{__ 'ABOUT_S3_C2'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="pr-lg-4">
          <h3 class="d-block d-lg-none">
            {{__ 'DAPPS_WEB_3_0_ECOSYSTEM_P1'}} {{__ 'DAPPS_WEB_3_0_ECOSYSTEM_P2'}}
          </h3>
          <div>{{__ 'FAST_AND_EASY_PAYMENTS'}}</div>
          <div>{{__ 'FLEXIBLE_SYSTEM_STAKES_REWARD'}}</div>
          <div>{{__ 'DATA_PROTECTION'}}</div>
          <div>{{__ 'TOKENIZATION_OF_VIRTUAL_ASSETS'}}</div>
          <div>{{__ 'DECENTRALISED_FINANCE_INSTRUMENTS'}}</div>
          <div>{{__ 'MARKETPLACE_FOR_DIGITAL_RESOURCES'}}</div>
        </div>
      </div>
    </div>
  </div>