<div id="tokenValueCreatedByMiners" class="container">
  <div class="mx-auto mb-6">
      <h2 class="mb-4 text-center text-md-left">{{__ 'ABOUT_S2_TITLE'}}</h2>
      <div class="mb-3">{{__ 'ABOUT_S2'}}</div>
      <div class="mb-3">{{__ 'ABOUT_S1_P1'}}</div>
      <div class="mb-3">{{__ 'ABOUT_S1_P2'}}</div>
      <div>
          <span class="mr-4">{{__ 'ABOUT_S1_P3'}}</span>
          <!-- Video Content Section -->
          <div id="SVGwave1BottomSMShape" class="d-block d-lg-inline-block mt-5 mt-lg-0 position-relative">
              <div class="d-inline-block mb-0">
                  <!-- Fancybox -->
                  <a class="js-fancybox d-inline-block u-media-player mb-4" href="javascript:;"
                     data-src="https://youtu.be/GpPAfyFqbAE"
                     data-speed="700"
                     data-animate-in="zoomIn"
                     data-animate-out="zoomOut"
                     data-caption="Enecuum. Open tomorrow">

                    <span class="u-media-player__icon u-media-player__icon--primary">
                        <span class="fas fa-play u-media-player__icon-inner"></span>
                    </span>
                  </a>
                  <!-- End Fancybox -->
                  <span class="ml-2 no-wrap font-weight-bolder">{{__ 'PLAY_VIDEO'}}</span>
              </div>
          </div>
          <!-- End Video Content -->
      </div>
  </div>

<!--  <div class="w-lg-65 text-center mx-auto">-->
<!--    <img src="img/enq/enq-world.svg" class="w-100" alt="ENQ world">-->
<!--  </div>-->
</div>
