<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'DOCUMENTATION'}}</title>
  <link rel="canonical" href="https://enecuum.com/documentation"/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>



  <main id="content" role="main">

    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-2.jpg); transform: translate3d(0px, -72.4172px, 0px);"></div>

      <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
          <h2 class="text-white mb-4">{{__ 'DOCUMENTATION'}}</h2>
        </div>
      </div>
      <!-- End Content -->
    </div>

    <div class="container space-2 space-lg-2">
      <div class="row">
        <div class="col-sm-12 col-xl-6 mb-10 mb-xl-0">
          <div class="get-documentation">
            <div class="get-documentation-title">
              <h3>{{__ 'WHITEPAPER'}}</h3>
              <div class="font-weight-bolder mb-3">{{__ 'MONTHS.DECEMBER'}} 2018</div>
            </div>
            <p class="get-documentation-content">
              {{__ 'WHITEPAPER_DESCR'}}
              <a href="/pdf/pp_en.pdf" class="get-documentation-download-link transition-3d-hover" download>
                <img src="/img/enq/whitepaper.svg" alt="Whitepaper icon">
              </a>              
            </p>
            <a role="button" href="/pdf/pp_en.pdf" target="_blank" class="btn btn-primary d-xl-none">{{__ 'READ_MORE'}}</a>
          </div>
        </div>
        <div class="col-sm-12 col-xl-6 mb-7 mb-sm-1">
          <div class="get-documentation">
            <div class="get-documentation-title">
              <h3>{{__ 'TECHPAPER'}}</h3>
              <div class="font-weight-bolder mb-3">{{__ 'MONTHS.MAY'}} 2019</div>
            </div>
            <p class="get-documentation-content">
              {{__ 'TECHPAPER_DESCR'}}
              <a href="/pdf/tp_en.pdf" class="get-documentation-download-link transition-3d-hover" download>
                <img src="/img/enq/techpaper.svg" alt="Techpaper icon">
              </a>
            </p>
            <a role="button" href="/pdf/tp_en.pdf" target="_blank" class="btn btn-primary d-xl-none">{{__ 'READ_MORE'}}</a>
          </div>
        </div>
      </div>
      <div class="row d-none d-sm-none d-xl-flex">
        <div class="col-sm-12 col-lg-6">
          <div class="read-more-container">
            <a role="button" href="/pdf/pp_en.pdf" target="_blank" class="btn btn-primary">{{__ 'READ_MORE'}}</a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 mb-7 mb-sm-1">
          <div class="row">
            <div class="col-8 offset-4">
              <a role="button" href="/pdf/tp_en.pdf" target="_blank" class="btn btn-primary">{{__ 'READ_MORE'}}</a>
            </div>
        </div>
        </div>      
      </div>
    </div>

    <div class="bg-light">
      <div class="container space-2 space-lg-2">
        <div class="row">
          <div class="col-12">
            <div class="get-documentation">
              <div class="get-documentation-title">
                <h3>{{__ 'AUDIT_REPORT'}}</h3>
                <div class="font-weight-bolder mb-3">{{__ 'MONTHS.JULY'}} 2021</div>
              </div>
              <p class="get-documentation-content">
                {{__ 'AUDIT_REPORT_RESUME'}}
                <a href="/pdf/Enecuum_Audit_Report.pdf" class="get-documentation-download-link transition-3d-hover" download>
                  <img src="/img/enq/audit.svg" alt="Audit report icon">
                </a>              
              </p>
              <a role="button" href="/pdf/pp_en.pdf" target="_blank" class="btn btn-primary">{{__ 'READ_MORE'}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="stickyBlockFAQEndPoint"></div>

</main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

<!-- JS Global Compulsory -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>


<!-- JS Front -->
<script src="/js/hs.core.js"></script>
<script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="/js/components/hs.header.js"></script>
<script src="/js/components/hs.unfold.js"></script>
<script src="/js/components/hs.sticky-block.js"></script>


  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/js/components/hs.scroll-nav.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of sticky blocks
    $.HSCore.components.HSStickyBlock.init('.js-sticky-block-faq');
    // initialization of HSScrollNav component
    $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
      duration: 700
    });
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
  });


</script>
</body>
</html>