<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'EARN_ENQ'}}</title>
  <link rel="canonical" href="https://enecuum.com/earn"/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-enq.png); transform: translate3d(0px, -72.4172px, 0px); "></div>

      <!-- Content -->
      <div class="container position-relative d-flex align-items-center z-index-2" style="height: 330px;">
        <div class="w-lg-50 text-center pt-5 mx-auto">
          <h2 class="text-white mb-4">{{__ 'EARN_ENQ'}}</h2>
          <div class="text-small">{{__ 'TYPES_OF_TOKENS'}}</div>
        </div>
      </div>
      <!-- End Content -->
    </div>




    <div class="container my-10">
      <h2 class="mt-4 mb-8 text-center">{{__ 'POA_MINING'}}</h2>
      <div class="d-flex flex-wrap font-size-01 px-5 px-sm-0">
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 pr-6 font-weight-bolder">1</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2 pr-6">
            <div>{{__ 'POA_MINING_STEPS.STEP_1'}}:</div>
            <a href="https://app.enecuum.com/">app.enecuum.com</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 pr-6 font-weight-bolder">2</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2 pr-6">
            <div>{{__ 'POA_MINING_STEPS.STEP_2'}}</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 pr-6 font-weight-bolder">3</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2 pr-6">
            <div>{{__ 'POA_MINING_STEPS.STEP_3'}}</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 pr-6 font-weight-bolder">3a</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2 pr-6">
            <div><a href="{{guidesLink}}/how-by-card/" target="_blank">{{__ 'POA_MINING_STEPS.STEP_3A'}}</a></div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 pr-6 font-weight-bolder">3b</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2 pr-6">
            <div>
              <a href="{{guidesLink}}/how-to-buy/" target="_blank">{{__ 'POA_MINING_STEPS.STEP_3B_P1'}}</a> {{__ 'POA_MINING_STEPS.STEP_3B_P2'}} <a href="{{guidesLink}}/how-to-swap/" target="_blank">{{__ 'POA_MINING_STEPS.STEP_3B_P3'}}</a> {{__ 'POA_MINING_STEPS.STEP_3B_P4'}}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 px-0 mb-4">
          <div class="text-blue pb-2 font-weight-bolder">4</div>
          <div class=" border-bottom border-width-2"></div>
          <div class="text-small font-weight-normal pt-2">
            <div>{{__ 'POA_MINING_STEPS.STEP_4'}}</div>
          </div>
        </div>
        <div class="col-12 px-0 ">
          <div class="font-weight-normal pt-2 text-right">
            <h3><i>...{{__ 'KEEP_CALM_AND_START_MINING'}}</i></h3>
          </div>
        </div>          
      </div>
    </div>
    <div class="bg-light">
      <div class="container space-2 space-lg-2">
        <div class="row">
          <div class="col-12 col-lg-6 text-center" >
            <h2 class="mt-4 mb-4 text-center">{{__ 'DOWNLOAD_ANDROID_MASTERNODE'}}</h2>
              <div class="my-5 d-flex mx-auto justify-content-center flex-column flex-md-row">
            <div class="m-3">
              <a class="btn btn-sm btn-primary transition-3d-hover" href="https://app.enecuum.com" role="button" style="font-size: 1.5rem; background: black;">
                <i class="fab fa-android mr-2" style="font-size: 30px;"></i><span class="font-weight-bold font-size-03">Android miner</span>
              </a>
            </div>
          </div>
          </div>
          <div class="col-12 col-lg-6 text-center" >
            <h2 class="mt-4 mb-4 text-center">{{__ 'SWAP_NATIVE_COINS_TO'}} ERC20</h2>
            <div class="my-5 d-flex mx-auto justify-content-center flex-column flex-md-row">
              <div class="m-3 text-center">
                <a href="{{guidesLink}}/how-to-swap/" class="btn btn-sm btn-primary transition-3d-hover" style="font-size: 1.5rem; width: 220px;" target="_blank">{{__ 'GUIDES'}} <i class="fas fa-info-circle"></i></a>
              </div>
              <div class="m-3 text-center">
                <a class="btn btn-sm btn-primary transition-3d-hover js-fancybox"  style="font-size: 1.5rem; width: 220px;"
                   href="javascript:;"
                    data-src="https://youtu.be/2SOaK6xQFGQ"
                    data-speed="700"
                    data-animate-in="zoomIn"
                    data-animate-out="zoomOut"
                    data-caption="Enecuum Swap Guide">
                  {{__ 'VIDEO'}} <i class="far fa-play-circle"></i>
                </a>  
              </div>
            </div>
          </div>
        </div>  
      </div>     
    </div>
  </main>
<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>


  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/components/hs.fancybox.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });    
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of fancybox
    $.HSCore.components.HSFancyBox.init('.js-fancybox');
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
  });

</script>
</body>
</html>