<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'HOLD_ENQ'}}</title>
  <link rel="canonical" href="https://enecuum.com/hold"/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-enq.png); transform: translate3d(0px, -72.4172px, 0px); "></div>

      <!-- Content -->
      <div class="container position-relative d-flex align-items-center z-index-2" style="height: 330px;">
        <div class="w-lg-50 text-center pt-5 mx-auto">
          <h2 class="text-white mb-4">{{__ 'HOLD_ENQ'}}</h2>
          <div class="text-small">{{__ 'HOLD_ENQ_DESCR'}}</div>
        </div>
      </div>
      <!-- End Content -->
    </div>




    <div class="container my-10">
      <h2 class="mt-4 mb-8 text-center">{{__ 'NATIVE_ENQ'}}</h2>
      <div class="row justify-content-center" id="nativeWallets">
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">
            <a href="https://wallet.enecuum.com" target="_blank" style="color: black;"><i class="fas fa-desktop mr-2" style="font-size: 20px;"></i><span class="h3 h-bold">Web wallet</span></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">
            <a href="https://play.google.com/store/apps/details?id=com.enecuum.wallet"  style="color: black;" target="_blank"><i class="fab fa-android mr-2" style="font-size: 27px;"></i><span class="h3 h-bold">Android wallet</span></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">                
          <a href="https://testflight.apple.com/join/EhGhg78t" target="_blank" style="color: black;"><i class="fab fa-apple mr-2" style="font-size: 30px;"></i><span class="h3 h-bold">iOS wallet</span></a>
          </div>        
        </div>                 
      </div> 
    </div>
    <div class="container my-10 pt-5">
      <h2 class="mb-8 text-center">ERC20 ENQ ({{__ 'ERC20_WALLETS'}})</h2>
      <div class="row justify-content-center" id="erc20wallets">
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">
            <a href="https://www.ledger.com/" target="_blank"><img src="/img/enq/erc20wallets/ledger.png" alt="Ledger logo"></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">                    
            <a href="https://metamask.io/" target="_blank"><img src="/img/enq/erc20wallets/metamask.png" alt="Metamask logo"></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">                  
            <a href="https://trustwallet.com" target="_blank"><img src="/img/enq/erc20wallets/trust-wallet.png" alt="Trust wallet logo"></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">  
            <a href="https://www.myetherwallet.com/" target="_blank"><img src="/img/enq/erc20wallets/mew.png" alt="MEW logo"></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">   
              <a href="https://xwallet.pundix.com/" target="_blank"><img src="/img/enq/partners-logo/pundix-logo-black.png" alt="Pundix logo"></a>
          </div>
        </div>
        <div class="col-12 px-5 col-sm-8 px-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card bg-light border-0 p-3 d-flex align-items-center justify-content-center">          
            <a href="https://paytomat.com" target="_blank"><img src="/img/enq/partners-logo/paytomat-logo-original.svg" alt="Paytomat logo"></a>
          </div>
        </div>    
      </div>
    </div>
  </main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>


  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });    
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
  });

</script>
</body>
</html>