<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>Presentation</title>
  <link rel="canonical" href="https://enecuum.com/presentation"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css">
  <link href = "fonts/montserrat/stylesheet.css" rel = "stylesheet" type = "text/css" />
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/css/presentation.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <main id="content" role="main">
    <div class="text-white mx-auto" id="presentationTop">
      <div class="presentation-top-gradient"></div>
      <div class="container text-center presentation-top-content">
        <img class="presentation-logo mx-auto mt-10" src="/img/enq/presentation/presentation-logo.png">
        <div class="text-uppercase pt-8 mt-8 ff-monts-black fs-40">{{__ 'PRESENTATION.TOP.TITLE.P1'}}</div>
        <div class="text-uppercase ff-monts-bold fs-36">{{__ 'PRESENTATION.TOP.TITLE.P2'}}</div>
      </div>      
    </div>
    <div class="container text-white py-8" id="presentationTrinity">
      <div class="float-lg-right mx-auto" style="max-width: 520px;">
        <img src="/img/enq/presentation/trinity.png" class="w-100">
      </div>
      <div class="ff-monts-black fs-40 text-uppercase" id="trinityTitle">{{__ 'PRESENTATION.TRINITY.TITLE'}}</div>
      <div>
        <span class="ff-monts-medium mr-1 fs-34">{{__ 'PRESENTATION.TRINITY.P1.p1'}}</span>
        <span class="ff-monts-black fs-34 text-blue mr-1">{{__ 'PRESENTATION.TRINITY.P1.p2'}}</span>
        <span class="ff-monts-medium fs-34">{{__ 'PRESENTATION.TRINITY.P1.p3'}}</span>
      </div>
      <div>
        <span class="ff-monts-medium mr-1 fs-34">{{__ 'PRESENTATION.TRINITY.P2.p1'}}</span>
        <span class="ff-monts-black fs-34 text-blue">{{__ 'PRESENTATION.TRINITY.P2.p2'}}</span>
        <span class="ff-monts-medium fs-34">{{__ 'PRESENTATION.TRINITY.P2.p3'}}</span>
      </div>      
    </div>
    <div class="container text-white py-8" id="tokenTypes">
      <div class="ff-monts-black fs-40 text-uppercase text-center mb-8">{{__ 'PRESENTATION.TOKEN_TYPES.TITLE'}}</div>
      <div class="row px-xl-8">        
        <div class="col-12 col-lg-4 text-center mb-8">
          <img src="/img/enq/presentation/token.png" class="mb-5">
          <div class="ff-monts-medium fs-34">{{__ 'PRESENTATION.TOKEN_TYPES.REISSUABLE'}}</div>
        </div>
        <div class="col-12 col-lg-4 text-center mb-8">
          <img src="/img/enq/presentation/token.png" class="mb-5">
          <div class="ff-monts-medium fs-34">{{__ 'PRESENTATION.TOKEN_TYPES.NON_REISSUABLE'}}</div>
        </div>
        <div class="col-12 col-lg-4 text-center mb-8">
          <img src="/img/enq/presentation/token.png" class="mb-5">
          <div class="ff-monts-medium fs-34">{{__ 'PRESENTATION.TOKEN_TYPES.MINEABLE'}}</div>
        </div>
      </div>
    </div>
    <div class="container py-8" id="nodesTypes">
      <div class="ff-monts-black fs-40 text-uppercase text-center mb-8 pb-4 text-white">{{__ 'PRESENTATION.NODES_TYPES.TITLE'}}</div>
      <div class="row">        
        <div class="col-12 col-lg-4 text-center mb-8 d-flex align-items-center">
          <div class="card p-4" id="presentationPOACard">
            <div class="position-relative">
              <img src="/img/enq/technology/poa-masternode-mobile.png" id="presentationPOAImage" alt="pow masternode screen">
            </div>            
            <div class="ff-monts-black fs-22" style="padding-top: 200px;">{{__ 'PRESENTATION.NODES_TYPES.POA.TITLE'}}</div>
            <div class="ff-monts-black fs-22 text-blue">{{__ 'PRESENTATION.NODES_TYPES.POA.SUBTITLE'}}</div>
            <div class="separator-grey w-40 mx-auto mt-4 mb-2"></div>
            <div class="ff-monts-medium fs-19">{{__ 'PRESENTATION.NODES_TYPES.POA.DESCR'}}</div>
          </div>  
        </div>
        <div class="col-12 col-lg-4 text-center mb-8 d-flex align-items-center">
          <div class="card p-4" id="presentationPOSCard">
            <div class="position-relative">
              <img src="/img/enq/technology/pos-node.png" id="presentationPOSImage" alt="pos node server">
            </div>
            <div class="ff-monts-black fs-22" style="padding-top: 216px;">{{__ 'PRESENTATION.NODES_TYPES.POS.TITLE'}}</div>
            <div class="ff-monts-black fs-22 text-blue">{{__ 'PRESENTATION.NODES_TYPES.POS.SUBTITLE'}}</div>
            <div class="separator-grey w-40 mx-auto mt-4 mb-2"></div>
            <div class="ff-monts-medium fs-19">{{__ 'PRESENTATION.NODES_TYPES.POS.DESCR'}}</div>
          </div>  
        </div>
        <div class="col-12 col-lg-4 text-center mb-8 d-flex align-items-center">
          <div class="card p-4"  id="presentationPOWCard">
            <div class="position-relative">
              <img src="/img/enq/technology/pow-videocard.png" id="presentationPOWImage" alt="pow node videocard">
            </div>            
            <div class="ff-monts-black fs-22" style="padding-top: 200px;">{{__ 'PRESENTATION.NODES_TYPES.POW.TITLE'}}</div>
            <div class="ff-monts-black fs-22 text-blue">{{__ 'PRESENTATION.NODES_TYPES.POW.SUBTITLE'}}</div>
            <div class="separator-grey w-40 mx-auto mt-4 mb-2"></div>
            <div class="ff-monts-medium fs-19">{{__ 'PRESENTATION.NODES_TYPES.POW.DESCR'}}</div>
          </div>  
        </div>
      </div>
    </div>
    <div class="text-white mx-auto" id="presentationFeatures">
      <img class="presentation-logo w-100 mt-4" src="/img/enq/presentation/presentation-features.png">
      <div class="container px-md-5 px-lg-10">        
        <div class="text-uppercase ff-monts-black fs-40 text-left text-lg-center mx-auto" id="presentationFeaturesTitles">{{__ 'PRESENTATION.FEATURES.TITLE'}}</div>
        <div class="row">
          <div class="col-md-8 col-lg-4 mb-8 pr-0 pr-sm-10">
            <div class="presentation-feature-number ff-monts-black text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_01.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23 mr-1">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_01.DESCR.P1'}}</span>
              <span class="ff-monts-black fs-23 d-lg-block">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_01.DESCR.P2'}}</span>
              <span class="ff-monts-medium fs-23 mr-l">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_01.DESCR.P3'}}</span>
            </div>
          </div>
          <div class="col-md-8 offset-md-4 offset-lg-0 col-lg-4 mb-8 pr-0 pr-sm-10">
            <div class="presentation-feature-number ff-monts-black 4 text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_02.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_02.DESCR'}}</span>
            </div>
          </div>
          <div class="col-md-8 col-lg-4 mb-8 pr-0 pr-sm-10">
            <div class="presentation-feature-number ff-monts-black text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_03.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_03.DESCR'}}</span>
            </div>
          </div>
          <div class="col-md-8 offset-md-4 offset-lg-0 col-lg-4 mb-8 pr-0 pr-sm-10 ">
            <div class="presentation-feature-number ff-monts-black text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_04.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23 mr-1">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_04.DESCR.P1'}}</span>
              <span class="ff-monts-black fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_04.DESCR.P2'}}</span>
              <span class="ff-monts-medium fs-23 ml-1">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_04.DESCR.P3'}}</span>
            </div>
          </div>
          <div class="col-md-8 col-lg-4 mb-8 pr-0 pr-sm-10">
            <div class="presentation-feature-number ff-monts-black text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_05.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_05.DESCR.P1'}}</span>
              <span class="ff-monts-black fs-23 text-blue mx-1">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_05.DESCR.P2'}}</span>
              <span class="ff-monts-medium fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_05.DESCR.P3'}}</span>
            </div>
          </div>
          <div class="col-md-8 offset-md-4 offset-lg-0 col-lg-4 mb-8 pr-0 pr-sm-10">
            <div class="presentation-feature-number ff-monts-black text-blue">
              {{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_06.N'}}
            </div>
            <div class="presentation-feature-descr fs-23">
              <span class="ff-monts-medium fs-23">{{__ 'PRESENTATION.FEATURES.ORDERED_LIST.F_06.DESCR'}}</span>
            </div>
          </div>                                        
        </div>
      </div>      
    </div>
    <div class="container text-white mx-auto position-relative mt-8" id="presentationSmartContracts">
      <div id="smartObj_1" class="smart-obj">
        <img src="/img/enq/presentation/sm-obj-1.png" id="presentationsmartObj_1_image" alt="code">
      </div>
      <div id="smartObj_2" class="smart-obj">
        <img src="/img/enq/presentation/sm-obj-2.png" id="presentationsmartObj_2_image" alt="code">
      </div>
      <div id="smartObj_3" class="smart-obj">
        <img src="/img/enq/presentation/sm-obj-3.png" id="presentationsmartObj_3_image" alt="code">
      </div>

      <div class="row">
        <div class="col-lg-9 offset-lg-2" id="presentationSmartContractsDescr" style="padding-bottom: 270px;">
          <span class="fs-34 ff-monts-semi-bold">{{__ 'PRESENTATION.SMART_CONTRACTS.DESCR.P1'}}</span>
          <span class="fs-34 ff-monts-extra-bold text-blue mx-2">{{__ 'PRESENTATION.SMART_CONTRACTS.DESCR.P2'}}</span>
          <span class="fs-34 ff-monts-semi-bold mr-2">{{__ 'PRESENTATION.SMART_CONTRACTS.DESCR.P3'}}</span>
          <span class="fs-34 ff-monts-extra-bold text-blue">{{__ 'PRESENTATION.SMART_CONTRACTS.DESCR.P4'}}</span>
          <span class="fs-34 ff-monts-semi-bold ml-2">{{__ 'PRESENTATION.SMART_CONTRACTS.DESCR.P5'}}</span>          
        </div>
      </div>            
    </div>
    <div id="presentationFeeInfo">
      <div class="position-relative">
        <div id="smartObjWrapper_2">
          <div id="smartObj_4" class="smart-obj">
            <img src="/img/enq/presentation/sm-obj-4-token-sm.png" id="presentationsmartObj_4_image" alt="code">
          </div>
          <div id="smartObj_5" class="smart-obj">
            <img src="/img/enq/presentation/sm-obj-5-token-lg.png" id="presentationsmartObj_5_image" alt="code">
          </div>          
        </div>
        <div class="container text-white mx-auto mt-8">
          <div class="row pb-7">
            <div class="col-lg-11">
              <span class="fs-34 ff-monts-semi-bold">{{__ 'PRESENTATION.FEE.DESCR_1.P1'}}</span>
              <span class="fs-34 ff-monts-extra-bold text-blue mx-1">{{__ 'PRESENTATION.FEE.DESCR_1.P2'}}</span>
              <span class="fs-34 ff-monts-semi-bold">{{__ 'PRESENTATION.FEE.DESCR_1.P3'}}</span>    
            </div>        
          </div>
          <div class="px-lg-8 my-10">
            <div class="row">
              <div class="col-4 text-center">
                <div class="ff-monts-black fs-48 text-blue">{{__ 'PRESENTATION.FEE.TYPES.TYPE_1.VALUE'}}</div>
                <div class="separator-grey w-lg-50 my-3 mx-auto"></div>
                <div class="ff-monts-medium fs-23 px-lg-8">{{__ 'PRESENTATION.FEE.TYPES.TYPE_1.DESCR'}}</div>
              </div>
              <div class="col-4 text-center">
                <div class="ff-monts-black fs-48 text-blue">{{__ 'PRESENTATION.FEE.TYPES.TYPE_2.VALUE'}}</div>
                <div class="separator-grey w-lg-50 my-3 mx-auto"></div>
                <div class="ff-monts-medium fs-23 px-lg-8">{{__ 'PRESENTATION.FEE.TYPES.TYPE_2.DESCR'}}</div>
              </div>
              <div class="col-4 text-center">
                <div class="ff-monts-black fs-48 text-blue">{{__ 'PRESENTATION.FEE.TYPES.TYPE_3.VALUE'}}</div>
                <div class="separator-grey w-lg-50 my-3 mx-auto"></div>
                <div class="ff-monts-medium fs-23 px-lg-8">{{__ 'PRESENTATION.FEE.TYPES.TYPE_3.DESCR'}}</div>
              </div>
            </div>
          </div>
        </div>      
      </div>  
      <div class="w-100">
        <img class="presentation-logo w-100 mt-4" src="/img/enq/presentation/mobile-mining-enecuum.png">
      </div>
      <div class="container text-white mx-auto mt-8">
        <span class="fs-34 ff-monts-semi-bold mr-2">{{__ 'PRESENTATION.FEE.DESCR_2.P1'}}</span>
        <span class="fs-34 ff-monts-black">{{__ 'PRESENTATION.FEE.DESCR_2.P2'}}</span>
        <span class="fs-34 ff-monts-semi-bold">{{__ 'PRESENTATION.FEE.DESCR_2.P3'}}</span>
      </div>
    </div>
    <div class="container text-white my-8" id="presentationExchanges">
      <div class="mx-8 mb-8">
        <div class="mb-5">
          <span class="ff-monts-black fs-34 mr-2">{{__ 'PRESENTATION.EXCHANGES.T_1.P1'}}</span>
          <span class="ff-monts-semi-bold fs-34">{{__ 'PRESENTATION.EXCHANGES.T_1.P2'}}</span>
        </div>
        <div class="row mb-5">
          <div class="col ff-monts-black fs-46 text-blue">{{__ 'PRESENTATION.EXCHANGES.EXCHANGES_LIST.KUKOIN'}}</div>
          <div class="col ff-monts-black fs-46 text-blue">{{__ 'PRESENTATION.EXCHANGES.EXCHANGES_LIST.GRAVIEX'}}</div>
          <div class="col ff-monts-black fs-46 text-blue">{{__ 'PRESENTATION.EXCHANGES.EXCHANGES_LIST.PROBIT'}}</div>
        </div>
        <div>
          <span class="ff-monts-semi-bold fs-34 mr-2">{{__ 'PRESENTATION.EXCHANGES.PLANE.P1'}}</span>
          <span class="ff-monts-semi-bold fs-34 text-blue">{{__ 'PRESENTATION.EXCHANGES.PLANE.P2'}}</span>
        </div>
      </div>
      <div class="ff-monts-semi-bold fs-34">{{__ 'PRESENTATION.EXCHANGES.RESUME'}}</div>
    </div>
    <div class="container text-white my-10 py-10" id="presentationNetworkInfo">
      <div class="row">
        <div class="col-xl-6 offset-xl-1 ff-monts-black fs-40 text-uppercase">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.MOBILE_NODES_TX_PROCESSING'}}</div>
      </div>
      <div>
        <div class="float-lg-right w-md-50 w-xl-40">
          <img src="/img/enq/technology/poa-masternode-mobile.png" alt="pow masternode screen">
        </div>
        <div>
          <div id="presentationCurrentTPS" class="mt-5 mb-10">
            <div class="ff-monts-black fs-104 text-blue" id="presentationCurrentTPS_N">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.MAX_TPS_CURRENT.N'}}</div>
            <div class="pl-5 ff-monts-medium fs-23" id="presentationCurrentTPSDescr">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.MAX_TPS_CURRENT.DESCR'}}</div>
          </div>
          <div id="presentationFutureTPS" class="my-10">
            <div class="ff-monts-black fs-104 text-blue" id="presentationFutureTPS_N">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.NEXT_NETWORK_VERSION.TPS'}}</div>
            <div class="ff-monts-medium fs-23" id="presentationFutureTPSDescr">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.NEXT_NETWORK_VERSION.DESCR'}}</div>
          </div>          
        </div>
        <div>
          <div class="ff-monts-bold fs-34">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P1'}}</div>
          <div>
            <span class="ff-monts-medium fs-34">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P2'}}</span>
            <span class="ff-monts-black fs-34 text-blue mx-2">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P3'}}</span>
            <span class="ff-monts-medium fs-34">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P4'}}</span>
            <span class="ff-monts-black fs-34 text-blue mx-2">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P5'}}</span>
            <span class="ff-monts-medium fs-34">{{__ 'PRESENTATION.VARIOUS_NETWORK_INFO.PLANE.P6'}}</span>
          </div>
        </div>
      </div>
    </div>  
  </main>

<!-- ========== FOOTER ========== -->
  <footer id="presentationFooter" class="w-100 py-10 text-center text-white">
    <img class="presentation-logo mx-auto mt-8" src="/img/enq/presentation/presentation-logo.png">
    <div class="ff-monts-bold fs-45 my-10 py-8">{{__ 'PRESENTATION.FOOTER.THE_BLOCKCHAIN_OF_TOMORROW'}}</div>
    <div id="presentationAppMN" class="my-8">
      <div class="ff-monts-medium fs-34 mb-5">{{__ 'PRESENTATION.FOOTER.DOWNLOAD_ANDROID_MASTERNODE'}}</div>
      <div>
        <a class="btn btn-primary py-0 mr-0 transition-3d-hover" href="https://app.enecuum.com?utm_source=unknown" role="button" style="border: 2px solid #a6a6a6; background: black;"><div class="d-flex align-items-center" style="height: 88px;"><i class="fab fa-android mr-2" style="font-size: 80px;"></i><span class="font-weight-bold fs-34">Android miner</span></div></a>
      </div>
    </div>
    <div id="presentationWallets" class="my-8">
      <div class="ff-monts-medium fs-34 mb-5">{{__ 'PRESENTATION.FOOTER.WALLETS'}}</div>
        <div class="mb-5">
          <div class="d-flex flex-column justify-content-center mx-auto justify-content-md-start">
            <div class="flex-grow-0 flex-shrink-0 mb-5">
              <a class="btn btn-primary p-0 mr-0 transition-3d-hover" href="https://wallet.enecuum.com" role="button" style="background: transparent; border: none;">
                <img src="/img/enq/presentation/presentation-web-wallet.png" alt="Web wallet">
              </a>
            </div>
            <div class="flex-grow-0 flex-shrink-0 mb-5">
              <a href="{{enecuumAppLink.googlePlay}}" role="button" class="btn btn-primary p-0 mr-0 transition-3d-hover" style="background: transparent; border: none;">
                <img src="/img/enq/presentation/presentation-google-app.png" alt="Google play">
              </a>
            </div>
            <div  class="flex-grow-0 flex-shrink-0 mb-5">
               <a class="btn btn-primary p-0 mr-0 transition-3d-hover" href="https://testflight.apple.com/join/EhGhg78t" role="button" style="background: transparent; border: none;">
                 <img src="/img/enq/presentation/presentation-ios-wallet-app.png" alt="iOS wallet">
               </a>
             </div>      
          </div>
        </div>
    </div>
    <ul class="social-network-list mt-lg-auto list-inline text-center">
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.facebook.com/enecuum.EN/?ref=bookmarks" target="_blank">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://twitter.com/enq_enecuum" target="_blank">
            <span class="fab fa-twitter btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://medium.com/@EnqBlockchain" target="_blank">
            <span class="fab fa-medium-m btn-icon__inner"></span>
        </a>
    </li>   
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://github.com/Enecuum" target="_blank">
            <span class="fab fa-github btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent forklog-hub-icon" href="https://hub.forklog.com/companies/enecuum/" target="_blank" style="padding-top: 24px;">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="205 336 107 107" width="28" height="28"  xml:space="preserve">
                <style>
                  .st0 {
                      fill: #FFFFFF;
                  }
                </style>
            <path class="st0" d="M279.7,407.7c-0.4-0.4-0.6-0.7-0.9-0.9c-2.7-2.6-5.4-5.3-8.1-7.9c-0.3-0.3-0.7-0.7-1-1.1
            c-0.5-0.6-0.5-1.5-0.1-2.2c0.4-0.8,1.1-1.3,2-1.4c0.4-0.1,0.8-0.1,1.2-0.1c3.7,0,7.3,0,11,0.1c2.6,0.1,5,1.1,6.8,3
            c5.4,5.4,10.7,10.8,16.1,16.2c0.6,0.6,1.2,1.3,1.7,2.1c0.8,1.2,0.9,2.8,0.2,4.1c-0.5,0.8-1,1.6-1.7,2.3c-2.3,2.3-4.6,4.6-6.9,6.9
            c-3,3.1-6.1,6.1-9.1,9.2c-1.3,1.3-2.9,2.3-4.6,2.7c-0.8,0.2-1.7,0.4-2.6,0.4c-2.4,0-4.7,0-7.1-0.1c-1.4-0.1-2.9-0.1-4.3-0.1
            c-0.6,0-1.3-0.2-1.8-0.6c-1-0.6-1.2-1.9-0.6-2.9c0,0,0.1-0.1,0.1-0.1c0.3-0.5,0.7-0.9,1.1-1.3c2.1-2.1,4.2-4.1,6.2-6.2
            c0.7-0.8,1.4-1.5,2.2-2.1c0.1-0.1,0.2-0.3,0.1-0.4c0-0.2-0.2-0.3-0.4-0.3c-0.9-0.1-1.8-0.1-2.6-0.1c-2.4,0-4.7,0-7.1-0.1
            c-5-0.1-9.8-1.2-14.4-3.2c-3.4-1.5-6.6-3.3-9.7-5.3c-3.4-2.2-6.6-4.6-9.8-7c-3.1-2.3-6.3-4.5-9.4-6.7c-3.6-2.5-7.6-4.3-11.9-5.1
            c-2.4-0.5-4.8-0.7-7.2-0.6c-3.2,0.1-6.4,0.1-9.7,0c-1.6,0-3.1-0.1-4.7-0.2c-0.5,0-0.6-0.2-0.5-0.6c0-0.4,0.1-0.7,0.2-1.1
            c0.6-2.7,0.8-5.5,0.7-8.3c0-2.3-0.3-4.5-0.8-6.7c-0.3-1.6-0.3-1.6,1.3-1.7c3-0.1,6-0.2,9,0c1.3,0.1,2.6,0.2,4,0.2
            c4.3,0,8.6-0.8,12.6-2.4c3.9-1.6,7.5-3.7,10.9-6.1c2.4-1.7,4.6-3.6,6.9-5.4c4.7-3.8,9.8-7,15.2-9.6c2.8-1.3,5.8-2.4,8.8-3.3
            c5.6-1.6,11.4-2.2,17.2-1.7c0.4,0,0.7,0,1.1,0c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.2-0.1-0.3c-2.6-2.3-4.7-5-7.4-7.2
            c-0.6-0.5-1.2-1.1-1.6-1.8c-0.8-1.3-0.9-3-0.3-4.4c0.1-0.2,0.3-0.3,0.5-0.3c0.2,0,0.5,0,0.7,0c4.6,0,9.2,0,13.8,0
            c0.6,0,1.3,0.2,1.8,0.6c2.9,2.2,5.6,4.6,8.2,7.1c3,3,5.9,6.1,8.8,9.1c1,1,2,2,3,3c0.6,0.6,1.2,1.2,1.6,1.9c0.9,1.3,0.9,3,0.1,4.3
            c-0.5,0.9-1.2,1.7-2,2.4c-2.1,2.1-4.2,4.3-6.4,6.4c-3.2,3.2-6.4,6.4-9.6,9.6c-1.4,1.5-3.3,2.5-5.4,2.8c-0.6,0.1-1.2,0.1-1.8,0.1
            c-3.4,0-6.8-0.1-10.1-0.1c-0.6,0-1.2-0.1-1.8-0.1c-0.6-0.1-1.2-0.4-1.6-0.9c-0.7-0.8-0.8-2-0.1-2.8c0.2-0.3,0.5-0.6,0.8-0.9
            c2.7-2.7,5.4-5.3,8.1-8c0.2-0.2,0.5-0.5,0.7-0.7c0.1-0.1,0-0.3-0.1-0.3c0,0-0.1,0-0.1,0c-0.1,0-0.2-0.1-0.4-0.1
            c-3.2-0.3-6.3-0.3-9.5,0c-3.8,0.4-7.4,1.6-10.7,3.4c-2.8,1.6-5.5,3.4-8.1,5.4c-3.1,2.3-6.2,4.6-9.3,6.9c-0.6,0.5-1.3,0.9-2,1.4
            c-1.6,1.1-1.6,1.6,0,2.7c0.9,0.6,1.7,1.2,2.6,1.8c4.9,3.4,9.7,6.9,14.6,10.3c3.6,2.6,7.7,4.2,12.1,4.8c2.8,0.4,5.6,0.5,8.4,0.3
            c0.6-0.1,1.2-0.1,1.8-0.1C278.9,408,279.3,407.9,279.7,407.7z"/>
        </svg>
      </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://bitcointalk.org/index.php?topic=2939909.0;topicseen" target="_blank">
            <span class="fab fa-btc btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.linkedin.com/company/enecuum-limited/" target="_blank">
            <span class="fab fa-linkedin-in btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.youtube.com/channel/UCyZqNfzK_PP82nkAVOlmN4Q" target="_blank">
            <span class="fab fa-youtube btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://qm.qq.com/cgi-bin/qm/qr?k=YfdokyjJnlKl0eAuhVXEc6JtVsoKnxvI&authKey=6WpHwP4Cu/kAAyPyVuBWZeQCjhEyijvLyGf6Jj6P7f9LVCe/9ZZC7YIfRtudjD23&noverify=0" target="_blank">
            <span class="fab fa-qq btn-icon__inner"></span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://weixin.qq.com/g/AwYAAJdSThUYHIJmetSinRGfcwtrkRovBmLZZr5moi0UXRIW56Me4ts56gByaeYU" target="_blank">
            <span class="fab fa-weixin btn-icon__inner"></span>
        </a>
    </li>     
    <li class="list-inline-item position-relative">
        <a id="telegramMenuInvokerForFooter" class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" role="button"
         aria-controls="dropdownTelegramForFooter"
         aria-haspopup="true"
         aria-expanded="false"
         data-unfold-target="#dropdownTelegramForFooter"
         data-unfold-type="css-animation"
         data-unfold-target-is-menu="true"
         data-unfold-hide-on-blur="false"
         data-unfold-duration="300"
         data-unfold-delay="300"
         data-unfold-hide-on-scroll="false"
         data-unfold-animation-in="fadeIn"
         data-unfold-animation-out="fadeOut">
          <span class="fab fa-telegram-plane btn-icon__inner"></span>
      </a>
      <div id="dropdownTelegramForFooter" class="dropdown-menu dropdown-unfold bg-dark border py-0" style="right: 0; bottom: 40px; left: auto; top: auto;" aria-labelledby="telegramMenuInvokerForFooter">
          {{> telegramChannelsList}}
      </div>
    </li>
  </ul>
  </footer>


<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>
<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
        // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
  
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
  });


</script>
</body>
</html>