<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'PRODUCTS'}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="canonical" href="https://enecuum.com/products"/>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-products.svg); transform: translate3d(0px, -72.4172px, 0px);"></div>

      <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
          <h1 class="h2 text-white mb-4">{{__ 'PRODUCTS'}}</h1>

        </div>
      </div>                               
      <!-- End Content -->
    </div>

    <div class="container py-6 py-md-8" id="productsAndroidMN">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-1 d-flex align-items-center justify-content-center">
          <img src="/img/enq/products/android-mn-mobile.png" alt="android masternode screen">          
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 pb-8 pb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'PRODUCTS_PAGE.ANDROID_MASTERNODE.H_1'}}</h2>
          <div class="mt-4 mb-6 text-justify text-md-left">
            {{__ 'PRODUCTS_PAGE.ANDROID_MASTERNODE.P_1'}}
          </div>
          <div class="d-flex justify-content-center justify-content-md-start">
            <a href="{{enecuumAppLink.masternode}}" class="get-documentation-download-link btn btn-primary transition-3d-hover mr-3">{{__ 'DOWNLOAD_APPLICATION'}}</a>
            <a href="https://guides.enecuum.com/ru/" class="get-documentation-download-link btn btn-outline-primary transition-3d-hover">{{__ 'HOW_TO_START_MINING'}}</a>  
          </div>         
        </div>
      </div>
    </div>
    <div class="container py-6 py-md-8" id="productsMobileWallet">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-2 d-flex align-items-center justify-content-center">
          <img src="/img/enq/products/mobile-wallet-mobile.png" alt="mobile wallet screen">
        </div>
        <div class="col-12 col-md-6 order-1 order-md-1 pt-0 mb-8 py-md-10 mb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'PRODUCTS_PAGE.MOBILE_WALLET.H_1'}}</h2>
          <div class="mt-4 mb-6 text-justify text-md-left">
            {{__ 'PRODUCTS_PAGE.MOBILE_WALLET.P_1'}}
          </div>
          <div class="d-flex justify-content-center justify-content-md-start">
            <a href="https://testflight.apple.com/join/EhGhg78t" class="get-documentation-download-link btn btn-primary transition-3d-hover mr-3">iOS app</a>
            <a href="{{enecuumAppLink.googlePlay}}" class="get-documentation-download-link btn btn-primary transition-3d-hover">Android app</a>  
          </div>             
        </div>
      </div>
    </div>    
    <div class="container py-6 py-md-8" id="productsWebWallet">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-1 d-flex align-items-center justify-content-center">
          <img src="/img/enq/products/web-wallet-notebook.png" alt="web wallet screen">
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 pb-8 pb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'PRODUCTS_PAGE.WEB_WALLET.H_1'}}</h2>
          <div class="mt-4 mb-6 text-justify text-md-left">
            {{__ 'PRODUCTS_PAGE.WEB_WALLET.P_1'}}
          </div>
          <div class="d-flex justify-content-center justify-content-md-start">
            <a href="https://wallet.enecuum.com/" class="get-documentation-download-link btn btn-primary transition-3d-hover mr-3">{{__ 'WEB_WALLET'}}</a>
          </div>         
        </div>
      </div>
    </div>
    <div class="container py-6 py-md-8" id="productsBlockchainExplorer">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-2 d-flex align-items-center justify-content-center">
          <img src="/img/enq/products/blockchain-explorer-notebook.png" alt="blockchain explorer screen">
        </div>
        <div class="col-12 col-md-6 order-1 order-md-1 pt-0 mb-8 py-md-10 mb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'PRODUCTS_PAGE.BLOCKCHAIN_EXPLORER.H_1'}}</h2>
          <div class="mt-4 mb-6 text-justify text-md-left">
            {{__ 'PRODUCTS_PAGE.BLOCKCHAIN_EXPLORER.P_1'}}
          </div>
          <div class="d-flex justify-content-center justify-content-md-start">
            <a href="https://neuro.enecuum.com/" class="get-documentation-download-link btn btn-primary transition-3d-hover mr-3">{{__ 'BLOCKCHAIN_EXPLORER'}}</a>
          </div>             
        </div>
      </div>
    </div>
    <div class="container py-6 py-md-8" id="productsSwapService">
      <h2 class="text-center mb-5">{{__ 'PRODUCTS_PAGE.SWAP_SERVICE.H_1'}}</h2>
      <div class="row mb-8">
        <div class="text-justify text-md-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">{{__ 'PRODUCTS_PAGE.SWAP_SERVICE.P_1'}}</div>      
      </div>
      <div class="text-center">
        <div class="d-inline-block mx-auto">
          <a href="https://guides.enecuum.com/ru/how-to-swap.html" class="d-inline-block btn btn-outline-primary transition-3d-hover mr-3 mr-md-5">{{__ 'READ_MORE'}}</a>
          <!-- Video Content Section -->
          <div id="SVGwave3BottomSMShape" class="d-inline-block mt-3 position-relative">
            <div class="d-inline-block mb-0">
                <!-- Fancybox -->
                <a class="js-fancybox d-inline-block u-media-player mb-4" href="javascript:;"
                   data-src="https://www.youtube.com/watch?v=2SOaK6xQFGQ"
                   data-speed="700"
                   data-animate-in="zoomIn"
                   data-animate-out="zoomOut"
                   data-caption="Enecuum. Open tomorrow">

                  <span class="u-media-player__icon u-media-player__icon--primary">
                      <span class="fas fa-play u-media-player__icon-inner"></span>
                  </span>
                </a>
                <!-- End Fancybox -->
                <span class="ml-2 no-wrap font-weight-bolder text-blue">{{__ 'PLAY_VIDEO'}}</span>
              </div>
            </div>
          <!-- End Video Content -->
        </div>        
      </div>
    </div>

    <div class="bg-light">
      <div class="container py-6 py-md-8" id="productsMultiMiner">
        <div class="row">
          <div class="col-12 col-md-6 img-container order-2 order-md-1 d-flex align-items-center justify-content-center">            
            <img src="/img/enq/products/mobile-multiminer-mobiles.png" alt="multiminer screen">
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2 pb-8 pb-md-0 d-flex flex-column justify-content-center">
            <h2 class="text-center text-md-left">{{__ 'PRODUCTS_PAGE.MOBILE_MULTIMINER.H_1'}}</h2>
            <div class="mt-4 mb-6 text-justify text-md-left">
              {{__ 'PRODUCTS_PAGE.MOBILE_MULTIMINER.P_1'}}
            </div>
            <div class="d-flex justify-content-center justify-content-md-start">
              <button type="button" class="btn btn-primary" disabled>{{__ 'COMING_SOON'}}</button>
            </div>       
          </div>
        </div>
      </div>      
    </div>
  </main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>

  <!-- JS Implementing Plugins -->
<script src="/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/components/hs.fancybox.js"></script>
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    $.HSCore.components.HSFancyBox.init('.js-fancybox');
    // initialization of video on background
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
    
  });

</script>
</body>
</html>