<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'PROJECTS'}}</title>
  <link rel="canonical" href="https://enecuum.com/projects"/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-enq.png); transform: translate3d(0px, -72.4172px, 0px); "></div>

      <!-- Content -->
      <div class="container position-relative d-flex align-items-center z-index-2" style="height: 330px;">
        <div class="w-lg-50 text-center pt-5 mx-auto">
          <h2 class="text-white">{{__ 'PROJECTS'}}</h2>          
        </div>
      </div>
      <!-- End Content -->
    </div>

    <div class="container my-10">
      <div class="row mb-8" id="defi">        
        <div class="col col-lg-8 offset-lg-2">
          <h2 class="mt-4 text-start">{{__ 'DEFI'}}</h2>
        </div>        
      </div>
      <div class="row mb-8 flip-wrapper">        
        <div class="col col-lg-6 offset-lg-3">
          <div class="project-item card border-0 p-3 p-lg-5 d-flex align-items-center justify-content-center">
            <img alt="enex logo" class="flip-1 my-5" src="/img/enq/partners-logo/enex-orange-black.png" style="width: 100%">
            <div class="flip-2">
              <div class="h3 mb-4 text-center">
                <a href="https://enex.space">{{__ 'DEFI_PLATFORM'}} ENEX.SPACE <i class="fas fa-external-link-square-alt"></i></a>
              </div>
              {{__ 'PROJECTS_CONTENT.DEFI_ENEX'}}
            </div>                
          </div>
        </div>               
      </div>

      <div class="row mb-8" id="e-commerce">        
        <div class="col col-lg-8 offset-lg-2">
          <h2 class="mt-4 text-start">{{__ 'E_COMMERCE'}}</h2>
        </div>        
      </div>      
      <div class="row mb-8 flip-wrapper">        
        <div class="col col-lg-6 offset-lg-3">
          <div class="project-item card border-0 p-3 p-lg-5 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
              <img alt="enex logo" class="flip-1 my-5 mr-0 mr-lg-5" src="/img/enq/partners-logo/go-shoppi.svg">
              <img alt="enex logo" class="flip-1 my-5 ml-0 ml-lg-5" src="/img/enq/partners-logo/ivenok.png">
            </div>            
            <div class="flip-2">
              <div class="h3 mb-4 text-center">
                <a href="https://www.goshoppi.ae">goshoppi/inevok3  <i class="fas fa-external-link-square-alt"></i></a>
              </div>
              {{__ 'PROJECTS_CONTENT.E_COMMERCE'}}
            </div>                
          </div>
        </div>               
      </div>

      <div class="row mb-8" id="art-nft">        
        <div class="col col-lg-8 offset-lg-2">
          <h2 class="mt-4 text-start">{{__ 'ART_/_NFT'}}</h2>
        </div>        
      </div>      
      <div class="row mb-8 flip-wrapper">        
        <div class="col col-lg-6 offset-lg-3">
          <div class="project-item card border-0 p-3 p-lg-5 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <img alt="enex logo" class="flip-1 my-5" src="/img/enq/partners-logo/arthesis.svg">
            </div>            
            <div class="flip-2">
              <div class="h3 mb-4 text-center">
                <a href="https://arthesis.io">Arthesis  <i class="fas fa-external-link-square-alt"></i></a>
              </div>
              {{__ 'PROJECTS_CONTENT.ARTHESIS_NFT'}}
            </div>                
          </div>
        </div>               
      </div>

      <div class="row mb-8" id="community-projects">        
        <div class="col col-lg-8 offset-lg-2">
          <h2 class="mt-4 text-start">{{__ 'COMMUNITY_PROJECTS'}}</h2>
        </div>        
      </div>      
      <div class="row mb-8 flip-wrapper">        
        <div class="col col-lg-6 offset-lg-3">
          <div class="project-item card border-0 p-3 p-lg-5 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <img alt="enex logo" class="flip-1 my-5" src="/img/enq/partners-logo/french-bulldog.png">
            </div>            
            <div class="flip-2">
              <div class="h3 mb-4 text-center">
                French Bulldog
              </div>
              {{__ 'PROJECTS_CONTENT.FRENCH_BULLDOG'}}
            </div>                
          </div>
        </div>               
      </div>

      <div class="row mb-8" id="trinity-lab-accelerator">        
        <div class="col ">
          <h2 class="my-4 mt-lg-8 mb-lg-8 text-start">{{__ 'TRINITY_LAB_ACCELERATOR.TITLE'}}</h2>
          <p>{{__ 'TRINITY_LAB_ACCELERATOR.DESCR.P_1'}}</p>
          <p>{{__ 'TRINITY_LAB_ACCELERATOR.DESCR.P_2'}}</p>
        </div>        
      </div>


    </div>
  </main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>


  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });    
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end

    $('.flip-wrapper').on('touchstart mouseenter mouseleave', function(e) {
      if (e.type === 'touchstart') {        
        $(this).toggleClass('flipped');
      }
      if (e.type === 'mouseenter') {
        $('.flip-wrapper').removeClass('flipped');
        $(this).addClass('flipped');
      }
      if (e.type === 'mouseleave') {
        $('.flip-wrapper').removeClass('flipped');
      }
    });

   

  });

</script>
</body>
</html>