<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'ROADMAP'}}</title>
  <link rel="canonical" href="https://enecuum.com/roadmap"/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">




  <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-4.jpg); transform: translate3d(0px, -72.4172px, 0px);"></div>

    <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
        <h2 class="text-white mb-4">{{__ 'ROADMAP'}}</h2>
      </div>
    </div>
    <!-- End Content -->
  </div>

  <div class="container space-3 space-lg-3">
    <div class="mx-auto">
      <div class="mb-5">
        <div class="roadmap-content mb-5">  
          {{#each roadmapModel.roadmap.periods as |p periodIndex|}}
          <div class="h2">{{p.period}}</div>
            <div id="roadmapAccordion{{p.period}}">
              {{#each this.content as |epic epicIndex|}}
                <div class="card">
                  <div class="card-header" id="heading{{p.period}}_e{{epicIndex}}">
                    <h5 class="mb-0 d-flex align-items-center justify-content-between">
                      <button
                        class="btn btn-link mr-3"
                        {{#if epic.content.length}}
                          data-toggle="collapse"
                          data-target="#collapse{{p.period}}_e{{epicIndex}}"
                          aria-expanded="false"
                          aria-controls="collapse{{p.period}}_e{{epicIndex}}"
                        {{/if}}>
                        {{epic.title}}
                      </button>
                      <div class="d-flex align-items-center justify-content-between">
                        {{#if epic.link}}
                          <a href="{{epic.link}}" class="mr-1" target="_blank">Read more</a>
                        {{else}}
                          {{#if epic.redditBtn}}
                            {{#if epic.entityId}}
                              <a href="{{getRedditLink epic.entityId}}" class="mr-1" target="_blank" role="button"><i class="fab fa-reddit-alien"></i></a>
                            {{/if}}
                          {{/if}}
                        {{/if}}
                        <div class="roadmap-item-readiness">
                          {{getEpicReadiness epic.content}}                        
                        </div>                        
                      </div>
                    </h5>
                  </div>
                  {{#if epic.content.length}}
                  <div id="collapse{{p.period}}_e{{epicIndex}}" class="collapse" aria-labelledby="heading{{p.period}}_e{{epicIndex}}" data-parent="#roadmapAccordion{{p.period}}">
                    <div class="card-body tasks-card">
                      {{#each this.content as |story storyIndex|}}
                        <div id="roadmapAccordion{{p.period}}_e{{epicIndex}}_s{{storyIndex}}">
                          <div class="card">
                            <div class="card-header" id="heading{{p.period}}_e{{epicIndex}}">
                              <h5 class="mb-0 d-flex align-items-center justify-content-between">
                                <button
                                  class="btn btn-link mr-3"
                                  {{#if story.content.length}}
                                    data-toggle="collapse"
                                    data-target="#collapse{{p.period}}_e{{epicIndex}}_s{{storyIndex}}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{p.period}}_e{{epicIndex}}_s{{storyIndex}}"
                                  {{/if}}>
                                  {{story.title}}
                                </button>
                                <div class="d-flex align-items-center justify-content-between">
                                  {{#if story.link}}
                                    <a href="{{story.link}}" class="mr-1" target="_blank">Read more</a>
                                  {{else}}
                                    {{#if story.redditBtn}}
                                      {{#if story.entityId}}
                                        <a
                                          href="{{getRedditLink story.entityId}}"
                                          class="mr-1"
                                          target="_blank"
                                          role="button">
                                            <i class="fab fa-reddit-alien"></i>
                                          </a>                                          
                                      {{/if}}
                                    {{/if}}  
                                  {{/if}}
                                  <div class="roadmap-item-readiness">
                                    {{story.readiness}}%                        
                                  </div> 
                                </div>                            
                              </h5>
                            </div>
                            {{#if story.content.length}}
                            <div id="collapse{{p.period}}_e{{epicIndex}}_s{{storyIndex}}" class="collapse" aria-labelledby="heading{{p.period}}_e{{epicIndex}}_s{{storyIndex}}" data-parent="#roadmapAccordion{{p.period}}_e{{epicIndex}}_s{{storyIndex}}">
                              <div class="card-body roadmap-subtask">
                                <ul>
                                  {{#each this.content as |task index|}}
                                    <li>
                                      <div class="d-flex align-items-center justify-content-between">
                                        <div class="mr-3">{{task.title}}</div>
                                        <div class="d-flex align-items-center justify-content-between">
                                          {{#if task.link}}
                                            <a href="{{task.link}}" class="mr-1" target="_blank">Read more</a>
                                          {{else}}
                                            {{#if task.redditBtn}}
                                              {{#if task.entityId}}
                                                <a href="{{getRedditLink task.entityId}}" class="mr-1" target="_blank" role="button"><i class="fab fa-reddit-alien"></i></a>
                                              {{/if}}
                                            {{/if}}
                                          {{/if}}
                                          <div class="roadmap-item-readiness">
                                            {{getTaskStatus task.status}}                        
                                          </div>
                                        </div>                                    
                                      </div>
                                    </li>                                  
                                  {{/each}}
                                </ul>
                              </div>
                            </div>
                            {{/if}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>  

        <div class="old-roadmap">
          {{> olderYears}}
        </div>        
      </div>
    </div>
  </div>
</main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>



  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>

  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header 
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end

  });
</script>
</body>
</html>