<!doctype html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{{__ 'TEAM'}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="vendor/animate.css/animate.min.css">  
  <link rel="stylesheet" href="vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/enq.css">
  <link rel="stylesheet" href="vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>

  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">

  <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(img/enq/enq-header-back-3.jpg); transform: translate3d(0px, -72.4172px, 0px);"></div>

    <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
        <h2 class="text-white mb-4">{{__ 'TEAM'}}</h2>
      </div>
    </div>
    <!-- End Content -->
  </div>

  <div class="container space-2 space-lg-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-semi-bold">{{__ 'CORE_TEAM'}}</h2>
      </div>
      <!-- End Title -->

      <div class="row mx-n2 mb-5">
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamMikhailSayfullin">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/MichailS.jpg" alt="Image Description">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'CEO'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.MIKHAIL_SAYFULLIN.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.MIKHAIL_SAYFULLIN.DESCR'}}
            </div>
            <a href="javascript:;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamMikhailSayfullin">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/mikhail-sayfullin-a5271436/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamKonstantinZhidanov">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/KonstantinZ.jpeg" alt="Konstantin Zhidanov">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'CTO'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.KONSTANTIN_ZHIDANOV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.KONSTANTIN_ZHIDANOV.DESCR'}}
              <blockquote class="blockquote mt-2">
                <em>"{{__ 'TEAM_CARDS.KONSTANTIN_ZHIDANOV.QUOTE'}}"</em>
              </blockquote>
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamKonstantinZhidanov">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/konstantin-zhidanov/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded researchgate-icon pt-1" href="https://www.researchgate.net/profile/Konstantin_Zhidanov" target="_blank" >
                  <svg width="15" viewBox="0 0 19 21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.78449 13.5363C8.03268 13.9577 8.27022 14.3791 8.52513 14.7891C9.13242 15.7792 9.79846 16.7311 10.5196 17.6397C10.9835 18.2174 11.4322 18.8115 12.002 19.2935C12.4188 19.6458 12.8737 19.9245 13.4087 20.0485C13.5226 20.0734 13.6385 20.0876 13.755 20.091C13.8491 20.0944 13.8922 20.1261 13.8889 20.2252C13.8808 20.3663 13.8808 20.5078 13.8889 20.6488C13.899 20.7684 13.848 20.8154 13.7449 20.8499C13.3606 20.9698 12.9582 21.0198 12.5566 20.9977C11.7633 20.9812 10.9899 20.7435 10.3218 20.3107C9.83385 19.9947 9.46465 19.5586 9.11226 19.1055C8.15985 17.8753 7.32734 16.5568 6.5318 15.2202C6.27521 14.788 6.02758 14.3502 5.78051 13.9118C5.76291 13.8764 5.73517 13.8471 5.7009 13.8278C5.66664 13.8085 5.62742 13.8001 5.58835 13.8037C5.0522 13.794 4.51549 13.7827 3.97934 13.7657C3.87626 13.7623 3.88018 13.8173 3.88018 13.8892C3.88018 14.5971 3.88018 15.3049 3.88018 16.0125C3.88018 16.6684 3.87513 17.3248 3.88018 17.9807C3.88466 18.3811 3.90539 18.7821 4.02472 19.17C4.1278 19.5048 4.32053 19.7483 4.68076 19.8072C5.12223 19.8791 5.56482 19.9465 6.00797 20.006C6.1273 20.0219 6.17044 20.0627 6.16316 20.1844C6.15475 20.33 6.16316 20.4767 6.16316 20.6222C6.16708 20.7921 6.15195 20.8097 5.98444 20.8052C5.17713 20.7831 4.37039 20.7485 3.56308 20.744C2.59274 20.7412 1.62185 20.7661 0.649829 20.7814C0.486799 20.7814 0.323769 20.795 0.1613 20.808C0.0380468 20.8176 -0.00677247 20.7684 0.000510653 20.6438C0.00891426 20.484 0.00611306 20.3232 0.000510653 20.1629C-0.00341103 20.0615 0.0391672 20.0207 0.134408 20.0032C0.464577 19.942 0.793811 19.8773 1.12211 19.8089C1.47058 19.7364 1.70812 19.5178 1.78992 19.178C1.87517 18.8447 1.92254 18.5026 1.9311 18.1585C1.94044 14.6999 1.94044 11.241 1.9311 7.78197C1.92148 7.49499 1.88831 7.20932 1.83194 6.92788C1.7479 6.43457 1.42968 6.1848 0.957402 6.10664C0.677281 6.06076 0.397161 6.01432 0.117041 5.95599C0.0895905 5.94511 0.0652401 5.92751 0.0461732 5.90478C0.0271063 5.88204 0.013919 5.85488 0.00779373 5.82572C-0.00453156 5.64278 0.00779375 5.45814 0.00387207 5.27464C0.00387207 5.16816 0.0542937 5.14041 0.153456 5.14097C1.39439 5.14097 2.63588 5.1489 3.87682 5.14097C4.7732 5.13588 5.66959 5.0934 6.56597 5.10473C7.47972 5.11662 8.36826 5.2922 9.18678 5.72264C10.3459 6.33149 11.0165 7.29433 11.1874 8.61114C11.2586 9.11655 11.2344 9.63101 11.1162 10.1273C10.9372 10.836 10.5973 11.4927 10.1235 12.0455C9.64972 12.5983 9.0551 13.0319 8.38675 13.312C8.19627 13.3925 8.00187 13.4576 7.78449 13.5363ZM3.88074 9.43635C3.88074 10.4275 3.88074 11.4185 3.88074 12.4092C3.88074 12.4851 3.87513 12.5452 3.9799 12.5554C4.79953 12.6324 5.62084 12.6828 6.43711 12.5491C7.30717 12.4064 8.04557 12.0207 8.55427 11.2589C8.85058 10.809 9.02766 10.2897 9.06857 9.75069C9.10573 9.3272 9.08101 8.90048 8.99517 8.48428C8.91719 8.09077 8.75399 7.7196 8.51729 7.39741C8.01699 6.71776 7.30381 6.42834 6.50546 6.33319C5.69143 6.23577 4.8746 6.29921 4.05833 6.32073C3.89979 6.32469 3.87794 6.3853 3.8785 6.52066C3.88242 7.49312 3.88074 8.46502 3.88074 9.43635Z" fill="#77838F"/>
                    <path d="M14.2273 4.53553C14.2525 5.00675 14.2575 5.47967 14.3079 5.94807C14.3763 6.58977 14.6379 7.11593 15.2794 7.3674C15.6618 7.51404 16.0795 7.53836 16.4761 7.43706C17.136 7.28301 17.5108 6.8469 17.6195 6.18198C17.6688 5.8818 17.6755 5.57426 17.7058 5.27012C17.7159 5.15684 17.6699 5.1155 17.5512 5.11776C17.1265 5.12626 16.7013 5.12399 16.2766 5.12173C16.1242 5.12173 16.0878 5.07925 16.0873 4.92519C16.0873 4.67995 16.0929 4.43415 16.0845 4.18891C16.0794 4.04618 16.1405 3.99181 16.2716 3.99124C16.4441 3.99124 16.6167 3.98671 16.7892 3.98615C17.443 3.98615 18.0963 3.98615 18.7501 3.98615C18.9647 3.98615 19.0011 4.01163 18.9983 4.22289C18.9921 4.77001 19.0033 5.31826 18.9658 5.86537C18.917 6.58014 18.7081 7.24336 18.2212 7.79105C17.8905 8.16081 17.4633 8.42877 16.9887 8.56415C16.3412 8.76285 15.6505 8.76757 15.0004 8.57774C14.1343 8.33023 13.56 7.76443 13.2267 6.92846C13.0334 6.44308 12.9645 5.93277 12.9544 5.41907C12.9387 4.62275 12.9471 3.82416 12.974 3.02784C12.9885 2.47385 13.1304 1.93089 13.3886 1.442C13.7208 0.813889 14.2205 0.386843 14.885 0.180117C15.773 -0.0962736 16.6537 -0.0685212 17.498 0.361923C18.0705 0.654171 18.461 1.12539 18.7394 1.69913C18.7507 1.71613 18.7579 1.73556 18.7604 1.75588C18.763 1.7762 18.7607 1.79683 18.7539 1.81611C18.7471 1.83539 18.7359 1.85279 18.7212 1.8669C18.7065 1.88101 18.6888 1.89145 18.6694 1.89736C18.3652 2.02933 18.0616 2.16129 17.7534 2.28363C17.7282 2.285 17.703 2.2802 17.68 2.26965C17.657 2.25911 17.6368 2.24311 17.6212 2.22303C17.5226 2.0803 17.4458 1.92228 17.3444 1.78182C17.029 1.34628 16.5926 1.17127 16.0649 1.14352C15.1444 1.09481 14.4872 1.75973 14.3757 2.46487C14.3023 2.92816 14.2805 3.40052 14.248 3.86947C14.2329 4.09036 14.248 4.31294 14.248 4.5344L14.2273 4.53553Z" fill="#77838F"/>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamSergeyVanurin">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/SergeyV.jpeg" alt="Sergey Vanurin">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'PROJECT_MANAGER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.SERGEY_VANURIN.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.SERGEY_VANURIN.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamSergeyVanurin">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/sergey-vanurin-673601167/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded researchgate-icon pt-1" href="https://www.researchgate.net/profile/Sergei_Vanurin" target="_blank" >
                  <svg width="15" viewBox="0 0 19 21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.78449 13.5363C8.03268 13.9577 8.27022 14.3791 8.52513 14.7891C9.13242 15.7792 9.79846 16.7311 10.5196 17.6397C10.9835 18.2174 11.4322 18.8115 12.002 19.2935C12.4188 19.6458 12.8737 19.9245 13.4087 20.0485C13.5226 20.0734 13.6385 20.0876 13.755 20.091C13.8491 20.0944 13.8922 20.1261 13.8889 20.2252C13.8808 20.3663 13.8808 20.5078 13.8889 20.6488C13.899 20.7684 13.848 20.8154 13.7449 20.8499C13.3606 20.9698 12.9582 21.0198 12.5566 20.9977C11.7633 20.9812 10.9899 20.7435 10.3218 20.3107C9.83385 19.9947 9.46465 19.5586 9.11226 19.1055C8.15985 17.8753 7.32734 16.5568 6.5318 15.2202C6.27521 14.788 6.02758 14.3502 5.78051 13.9118C5.76291 13.8764 5.73517 13.8471 5.7009 13.8278C5.66664 13.8085 5.62742 13.8001 5.58835 13.8037C5.0522 13.794 4.51549 13.7827 3.97934 13.7657C3.87626 13.7623 3.88018 13.8173 3.88018 13.8892C3.88018 14.5971 3.88018 15.3049 3.88018 16.0125C3.88018 16.6684 3.87513 17.3248 3.88018 17.9807C3.88466 18.3811 3.90539 18.7821 4.02472 19.17C4.1278 19.5048 4.32053 19.7483 4.68076 19.8072C5.12223 19.8791 5.56482 19.9465 6.00797 20.006C6.1273 20.0219 6.17044 20.0627 6.16316 20.1844C6.15475 20.33 6.16316 20.4767 6.16316 20.6222C6.16708 20.7921 6.15195 20.8097 5.98444 20.8052C5.17713 20.7831 4.37039 20.7485 3.56308 20.744C2.59274 20.7412 1.62185 20.7661 0.649829 20.7814C0.486799 20.7814 0.323769 20.795 0.1613 20.808C0.0380468 20.8176 -0.00677247 20.7684 0.000510653 20.6438C0.00891426 20.484 0.00611306 20.3232 0.000510653 20.1629C-0.00341103 20.0615 0.0391672 20.0207 0.134408 20.0032C0.464577 19.942 0.793811 19.8773 1.12211 19.8089C1.47058 19.7364 1.70812 19.5178 1.78992 19.178C1.87517 18.8447 1.92254 18.5026 1.9311 18.1585C1.94044 14.6999 1.94044 11.241 1.9311 7.78197C1.92148 7.49499 1.88831 7.20932 1.83194 6.92788C1.7479 6.43457 1.42968 6.1848 0.957402 6.10664C0.677281 6.06076 0.397161 6.01432 0.117041 5.95599C0.0895905 5.94511 0.0652401 5.92751 0.0461732 5.90478C0.0271063 5.88204 0.013919 5.85488 0.00779373 5.82572C-0.00453156 5.64278 0.00779375 5.45814 0.00387207 5.27464C0.00387207 5.16816 0.0542937 5.14041 0.153456 5.14097C1.39439 5.14097 2.63588 5.1489 3.87682 5.14097C4.7732 5.13588 5.66959 5.0934 6.56597 5.10473C7.47972 5.11662 8.36826 5.2922 9.18678 5.72264C10.3459 6.33149 11.0165 7.29433 11.1874 8.61114C11.2586 9.11655 11.2344 9.63101 11.1162 10.1273C10.9372 10.836 10.5973 11.4927 10.1235 12.0455C9.64972 12.5983 9.0551 13.0319 8.38675 13.312C8.19627 13.3925 8.00187 13.4576 7.78449 13.5363ZM3.88074 9.43635C3.88074 10.4275 3.88074 11.4185 3.88074 12.4092C3.88074 12.4851 3.87513 12.5452 3.9799 12.5554C4.79953 12.6324 5.62084 12.6828 6.43711 12.5491C7.30717 12.4064 8.04557 12.0207 8.55427 11.2589C8.85058 10.809 9.02766 10.2897 9.06857 9.75069C9.10573 9.3272 9.08101 8.90048 8.99517 8.48428C8.91719 8.09077 8.75399 7.7196 8.51729 7.39741C8.01699 6.71776 7.30381 6.42834 6.50546 6.33319C5.69143 6.23577 4.8746 6.29921 4.05833 6.32073C3.89979 6.32469 3.87794 6.3853 3.8785 6.52066C3.88242 7.49312 3.88074 8.46502 3.88074 9.43635Z" fill="#77838F"/>
                    <path d="M14.2273 4.53553C14.2525 5.00675 14.2575 5.47967 14.3079 5.94807C14.3763 6.58977 14.6379 7.11593 15.2794 7.3674C15.6618 7.51404 16.0795 7.53836 16.4761 7.43706C17.136 7.28301 17.5108 6.8469 17.6195 6.18198C17.6688 5.8818 17.6755 5.57426 17.7058 5.27012C17.7159 5.15684 17.6699 5.1155 17.5512 5.11776C17.1265 5.12626 16.7013 5.12399 16.2766 5.12173C16.1242 5.12173 16.0878 5.07925 16.0873 4.92519C16.0873 4.67995 16.0929 4.43415 16.0845 4.18891C16.0794 4.04618 16.1405 3.99181 16.2716 3.99124C16.4441 3.99124 16.6167 3.98671 16.7892 3.98615C17.443 3.98615 18.0963 3.98615 18.7501 3.98615C18.9647 3.98615 19.0011 4.01163 18.9983 4.22289C18.9921 4.77001 19.0033 5.31826 18.9658 5.86537C18.917 6.58014 18.7081 7.24336 18.2212 7.79105C17.8905 8.16081 17.4633 8.42877 16.9887 8.56415C16.3412 8.76285 15.6505 8.76757 15.0004 8.57774C14.1343 8.33023 13.56 7.76443 13.2267 6.92846C13.0334 6.44308 12.9645 5.93277 12.9544 5.41907C12.9387 4.62275 12.9471 3.82416 12.974 3.02784C12.9885 2.47385 13.1304 1.93089 13.3886 1.442C13.7208 0.813889 14.2205 0.386843 14.885 0.180117C15.773 -0.0962736 16.6537 -0.0685212 17.498 0.361923C18.0705 0.654171 18.461 1.12539 18.7394 1.69913C18.7507 1.71613 18.7579 1.73556 18.7604 1.75588C18.763 1.7762 18.7607 1.79683 18.7539 1.81611C18.7471 1.83539 18.7359 1.85279 18.7212 1.8669C18.7065 1.88101 18.6888 1.89145 18.6694 1.89736C18.3652 2.02933 18.0616 2.16129 17.7534 2.28363C17.7282 2.285 17.703 2.2802 17.68 2.26965C17.657 2.25911 17.6368 2.24311 17.6212 2.22303C17.5226 2.0803 17.4458 1.92228 17.3444 1.78182C17.029 1.34628 16.5926 1.17127 16.0649 1.14352C15.1444 1.09481 14.4872 1.75973 14.3757 2.46487C14.3023 2.92816 14.2805 3.40052 14.248 3.86947C14.2329 4.09036 14.248 4.31294 14.248 4.5344L14.2273 4.53553Z" fill="#77838F"/>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamSergeyBezzateev">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/Bezzateev.jpeg" alt="Sergey Bezzateev">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'HEAD_OF_RESEARCH'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.SERGEY_BEZZATEEV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.SERGEY_BEZZATEEV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamSergeyBezzateev">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/sergey-bezzateev-4924a13" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded researchgate-icon pt-1" href="https://www.researchgate.net/profile/Sergey_Bezzateev" target="_blank" >
                  <svg width="15" viewBox="0 0 19 21" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.78449 13.5363C8.03268 13.9577 8.27022 14.3791 8.52513 14.7891C9.13242 15.7792 9.79846 16.7311 10.5196 17.6397C10.9835 18.2174 11.4322 18.8115 12.002 19.2935C12.4188 19.6458 12.8737 19.9245 13.4087 20.0485C13.5226 20.0734 13.6385 20.0876 13.755 20.091C13.8491 20.0944 13.8922 20.1261 13.8889 20.2252C13.8808 20.3663 13.8808 20.5078 13.8889 20.6488C13.899 20.7684 13.848 20.8154 13.7449 20.8499C13.3606 20.9698 12.9582 21.0198 12.5566 20.9977C11.7633 20.9812 10.9899 20.7435 10.3218 20.3107C9.83385 19.9947 9.46465 19.5586 9.11226 19.1055C8.15985 17.8753 7.32734 16.5568 6.5318 15.2202C6.27521 14.788 6.02758 14.3502 5.78051 13.9118C5.76291 13.8764 5.73517 13.8471 5.7009 13.8278C5.66664 13.8085 5.62742 13.8001 5.58835 13.8037C5.0522 13.794 4.51549 13.7827 3.97934 13.7657C3.87626 13.7623 3.88018 13.8173 3.88018 13.8892C3.88018 14.5971 3.88018 15.3049 3.88018 16.0125C3.88018 16.6684 3.87513 17.3248 3.88018 17.9807C3.88466 18.3811 3.90539 18.7821 4.02472 19.17C4.1278 19.5048 4.32053 19.7483 4.68076 19.8072C5.12223 19.8791 5.56482 19.9465 6.00797 20.006C6.1273 20.0219 6.17044 20.0627 6.16316 20.1844C6.15475 20.33 6.16316 20.4767 6.16316 20.6222C6.16708 20.7921 6.15195 20.8097 5.98444 20.8052C5.17713 20.7831 4.37039 20.7485 3.56308 20.744C2.59274 20.7412 1.62185 20.7661 0.649829 20.7814C0.486799 20.7814 0.323769 20.795 0.1613 20.808C0.0380468 20.8176 -0.00677247 20.7684 0.000510653 20.6438C0.00891426 20.484 0.00611306 20.3232 0.000510653 20.1629C-0.00341103 20.0615 0.0391672 20.0207 0.134408 20.0032C0.464577 19.942 0.793811 19.8773 1.12211 19.8089C1.47058 19.7364 1.70812 19.5178 1.78992 19.178C1.87517 18.8447 1.92254 18.5026 1.9311 18.1585C1.94044 14.6999 1.94044 11.241 1.9311 7.78197C1.92148 7.49499 1.88831 7.20932 1.83194 6.92788C1.7479 6.43457 1.42968 6.1848 0.957402 6.10664C0.677281 6.06076 0.397161 6.01432 0.117041 5.95599C0.0895905 5.94511 0.0652401 5.92751 0.0461732 5.90478C0.0271063 5.88204 0.013919 5.85488 0.00779373 5.82572C-0.00453156 5.64278 0.00779375 5.45814 0.00387207 5.27464C0.00387207 5.16816 0.0542937 5.14041 0.153456 5.14097C1.39439 5.14097 2.63588 5.1489 3.87682 5.14097C4.7732 5.13588 5.66959 5.0934 6.56597 5.10473C7.47972 5.11662 8.36826 5.2922 9.18678 5.72264C10.3459 6.33149 11.0165 7.29433 11.1874 8.61114C11.2586 9.11655 11.2344 9.63101 11.1162 10.1273C10.9372 10.836 10.5973 11.4927 10.1235 12.0455C9.64972 12.5983 9.0551 13.0319 8.38675 13.312C8.19627 13.3925 8.00187 13.4576 7.78449 13.5363ZM3.88074 9.43635C3.88074 10.4275 3.88074 11.4185 3.88074 12.4092C3.88074 12.4851 3.87513 12.5452 3.9799 12.5554C4.79953 12.6324 5.62084 12.6828 6.43711 12.5491C7.30717 12.4064 8.04557 12.0207 8.55427 11.2589C8.85058 10.809 9.02766 10.2897 9.06857 9.75069C9.10573 9.3272 9.08101 8.90048 8.99517 8.48428C8.91719 8.09077 8.75399 7.7196 8.51729 7.39741C8.01699 6.71776 7.30381 6.42834 6.50546 6.33319C5.69143 6.23577 4.8746 6.29921 4.05833 6.32073C3.89979 6.32469 3.87794 6.3853 3.8785 6.52066C3.88242 7.49312 3.88074 8.46502 3.88074 9.43635Z" fill="#77838F"/>
                  <path d="M14.2273 4.53553C14.2525 5.00675 14.2575 5.47967 14.3079 5.94807C14.3763 6.58977 14.6379 7.11593 15.2794 7.3674C15.6618 7.51404 16.0795 7.53836 16.4761 7.43706C17.136 7.28301 17.5108 6.8469 17.6195 6.18198C17.6688 5.8818 17.6755 5.57426 17.7058 5.27012C17.7159 5.15684 17.6699 5.1155 17.5512 5.11776C17.1265 5.12626 16.7013 5.12399 16.2766 5.12173C16.1242 5.12173 16.0878 5.07925 16.0873 4.92519C16.0873 4.67995 16.0929 4.43415 16.0845 4.18891C16.0794 4.04618 16.1405 3.99181 16.2716 3.99124C16.4441 3.99124 16.6167 3.98671 16.7892 3.98615C17.443 3.98615 18.0963 3.98615 18.7501 3.98615C18.9647 3.98615 19.0011 4.01163 18.9983 4.22289C18.9921 4.77001 19.0033 5.31826 18.9658 5.86537C18.917 6.58014 18.7081 7.24336 18.2212 7.79105C17.8905 8.16081 17.4633 8.42877 16.9887 8.56415C16.3412 8.76285 15.6505 8.76757 15.0004 8.57774C14.1343 8.33023 13.56 7.76443 13.2267 6.92846C13.0334 6.44308 12.9645 5.93277 12.9544 5.41907C12.9387 4.62275 12.9471 3.82416 12.974 3.02784C12.9885 2.47385 13.1304 1.93089 13.3886 1.442C13.7208 0.813889 14.2205 0.386843 14.885 0.180117C15.773 -0.0962736 16.6537 -0.0685212 17.498 0.361923C18.0705 0.654171 18.461 1.12539 18.7394 1.69913C18.7507 1.71613 18.7579 1.73556 18.7604 1.75588C18.763 1.7762 18.7607 1.79683 18.7539 1.81611C18.7471 1.83539 18.7359 1.85279 18.7212 1.8669C18.7065 1.88101 18.6888 1.89145 18.6694 1.89736C18.3652 2.02933 18.0616 2.16129 17.7534 2.28363C17.7282 2.285 17.703 2.2802 17.68 2.26965C17.657 2.25911 17.6368 2.24311 17.6212 2.22303C17.5226 2.0803 17.4458 1.92228 17.3444 1.78182C17.029 1.34628 16.5926 1.17127 16.0649 1.14352C15.1444 1.09481 14.4872 1.75973 14.3757 2.46487C14.3023 2.92816 14.2805 3.40052 14.248 3.86947C14.2329 4.09036 14.248 4.31294 14.248 4.5344L14.2273 4.53553Z" fill="#77838F"/>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>        

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamAleksandraAfanasyeva">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/AlexandraA.png" alt="Aleksandra Afanasyeva">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'RESEARCHER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.ALEKSANDRA_AFANASYEVA.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.ALEKSANDRA_AFANASYEVA.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamAleksandraAfanasyeva">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://pro.guap.ru/exters/profile/tab1/1634" target="_blank" >
                  <span class="fas fa-university btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="http://mit.spbau.ru/node/932" target="_blank" >
                  <span class="fas fa-university btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamAleksandrOmetov">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/AleksandrO.jpg" alt="Aleksandr Ometov">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'RESEARCHER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.ALEKSANDR_OMETOV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.ALEKSANDR_OMETOV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamAleksandrOmetov">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://fi.linkedin.com/in/ometov" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded researchgate-icon pt-1" href="https://www.researchgate.net/profile/Aleksandr_Ometov" target="_blank" >
                  <svg width="15" viewBox="0 0 19 21" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.78449 13.5363C8.03268 13.9577 8.27022 14.3791 8.52513 14.7891C9.13242 15.7792 9.79846 16.7311 10.5196 17.6397C10.9835 18.2174 11.4322 18.8115 12.002 19.2935C12.4188 19.6458 12.8737 19.9245 13.4087 20.0485C13.5226 20.0734 13.6385 20.0876 13.755 20.091C13.8491 20.0944 13.8922 20.1261 13.8889 20.2252C13.8808 20.3663 13.8808 20.5078 13.8889 20.6488C13.899 20.7684 13.848 20.8154 13.7449 20.8499C13.3606 20.9698 12.9582 21.0198 12.5566 20.9977C11.7633 20.9812 10.9899 20.7435 10.3218 20.3107C9.83385 19.9947 9.46465 19.5586 9.11226 19.1055C8.15985 17.8753 7.32734 16.5568 6.5318 15.2202C6.27521 14.788 6.02758 14.3502 5.78051 13.9118C5.76291 13.8764 5.73517 13.8471 5.7009 13.8278C5.66664 13.8085 5.62742 13.8001 5.58835 13.8037C5.0522 13.794 4.51549 13.7827 3.97934 13.7657C3.87626 13.7623 3.88018 13.8173 3.88018 13.8892C3.88018 14.5971 3.88018 15.3049 3.88018 16.0125C3.88018 16.6684 3.87513 17.3248 3.88018 17.9807C3.88466 18.3811 3.90539 18.7821 4.02472 19.17C4.1278 19.5048 4.32053 19.7483 4.68076 19.8072C5.12223 19.8791 5.56482 19.9465 6.00797 20.006C6.1273 20.0219 6.17044 20.0627 6.16316 20.1844C6.15475 20.33 6.16316 20.4767 6.16316 20.6222C6.16708 20.7921 6.15195 20.8097 5.98444 20.8052C5.17713 20.7831 4.37039 20.7485 3.56308 20.744C2.59274 20.7412 1.62185 20.7661 0.649829 20.7814C0.486799 20.7814 0.323769 20.795 0.1613 20.808C0.0380468 20.8176 -0.00677247 20.7684 0.000510653 20.6438C0.00891426 20.484 0.00611306 20.3232 0.000510653 20.1629C-0.00341103 20.0615 0.0391672 20.0207 0.134408 20.0032C0.464577 19.942 0.793811 19.8773 1.12211 19.8089C1.47058 19.7364 1.70812 19.5178 1.78992 19.178C1.87517 18.8447 1.92254 18.5026 1.9311 18.1585C1.94044 14.6999 1.94044 11.241 1.9311 7.78197C1.92148 7.49499 1.88831 7.20932 1.83194 6.92788C1.7479 6.43457 1.42968 6.1848 0.957402 6.10664C0.677281 6.06076 0.397161 6.01432 0.117041 5.95599C0.0895905 5.94511 0.0652401 5.92751 0.0461732 5.90478C0.0271063 5.88204 0.013919 5.85488 0.00779373 5.82572C-0.00453156 5.64278 0.00779375 5.45814 0.00387207 5.27464C0.00387207 5.16816 0.0542937 5.14041 0.153456 5.14097C1.39439 5.14097 2.63588 5.1489 3.87682 5.14097C4.7732 5.13588 5.66959 5.0934 6.56597 5.10473C7.47972 5.11662 8.36826 5.2922 9.18678 5.72264C10.3459 6.33149 11.0165 7.29433 11.1874 8.61114C11.2586 9.11655 11.2344 9.63101 11.1162 10.1273C10.9372 10.836 10.5973 11.4927 10.1235 12.0455C9.64972 12.5983 9.0551 13.0319 8.38675 13.312C8.19627 13.3925 8.00187 13.4576 7.78449 13.5363ZM3.88074 9.43635C3.88074 10.4275 3.88074 11.4185 3.88074 12.4092C3.88074 12.4851 3.87513 12.5452 3.9799 12.5554C4.79953 12.6324 5.62084 12.6828 6.43711 12.5491C7.30717 12.4064 8.04557 12.0207 8.55427 11.2589C8.85058 10.809 9.02766 10.2897 9.06857 9.75069C9.10573 9.3272 9.08101 8.90048 8.99517 8.48428C8.91719 8.09077 8.75399 7.7196 8.51729 7.39741C8.01699 6.71776 7.30381 6.42834 6.50546 6.33319C5.69143 6.23577 4.8746 6.29921 4.05833 6.32073C3.89979 6.32469 3.87794 6.3853 3.8785 6.52066C3.88242 7.49312 3.88074 8.46502 3.88074 9.43635Z" fill="#77838F"/>
                  <path d="M14.2273 4.53553C14.2525 5.00675 14.2575 5.47967 14.3079 5.94807C14.3763 6.58977 14.6379 7.11593 15.2794 7.3674C15.6618 7.51404 16.0795 7.53836 16.4761 7.43706C17.136 7.28301 17.5108 6.8469 17.6195 6.18198C17.6688 5.8818 17.6755 5.57426 17.7058 5.27012C17.7159 5.15684 17.6699 5.1155 17.5512 5.11776C17.1265 5.12626 16.7013 5.12399 16.2766 5.12173C16.1242 5.12173 16.0878 5.07925 16.0873 4.92519C16.0873 4.67995 16.0929 4.43415 16.0845 4.18891C16.0794 4.04618 16.1405 3.99181 16.2716 3.99124C16.4441 3.99124 16.6167 3.98671 16.7892 3.98615C17.443 3.98615 18.0963 3.98615 18.7501 3.98615C18.9647 3.98615 19.0011 4.01163 18.9983 4.22289C18.9921 4.77001 19.0033 5.31826 18.9658 5.86537C18.917 6.58014 18.7081 7.24336 18.2212 7.79105C17.8905 8.16081 17.4633 8.42877 16.9887 8.56415C16.3412 8.76285 15.6505 8.76757 15.0004 8.57774C14.1343 8.33023 13.56 7.76443 13.2267 6.92846C13.0334 6.44308 12.9645 5.93277 12.9544 5.41907C12.9387 4.62275 12.9471 3.82416 12.974 3.02784C12.9885 2.47385 13.1304 1.93089 13.3886 1.442C13.7208 0.813889 14.2205 0.386843 14.885 0.180117C15.773 -0.0962736 16.6537 -0.0685212 17.498 0.361923C18.0705 0.654171 18.461 1.12539 18.7394 1.69913C18.7507 1.71613 18.7579 1.73556 18.7604 1.75588C18.763 1.7762 18.7607 1.79683 18.7539 1.81611C18.7471 1.83539 18.7359 1.85279 18.7212 1.8669C18.7065 1.88101 18.6888 1.89145 18.6694 1.89736C18.3652 2.02933 18.0616 2.16129 17.7534 2.28363C17.7282 2.285 17.703 2.2802 17.68 2.26965C17.657 2.25911 17.6368 2.24311 17.6212 2.22303C17.5226 2.0803 17.4458 1.92228 17.3444 1.78182C17.029 1.34628 16.5926 1.17127 16.0649 1.14352C15.1444 1.09481 14.4872 1.75973 14.3757 2.46487C14.3023 2.92816 14.2805 3.40052 14.248 3.86947C14.2329 4.09036 14.248 4.31294 14.248 4.5344L14.2273 4.53553Z" fill="#77838F"/>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamHenokTekle">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/HenokH.jpeg" alt="Henok 'Hen' Tekle">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'STRATEGIC_PARTNER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.HENOK_TEKLE.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.HENOK_TEKLE.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamHenokTekle">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/henglobal" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamBogdanShelygin">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/Bogdan.jpg" alt="Bogdan Shelygin">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'BUSINESS_ANALYST'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.BOGDAN_SHELYGIN.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.BOGDAN_SHELYGIN.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamBogdanShelygin">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/bogdan-shelygin-925b58149/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamMikhailVasilev">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/Mike_V.png" alt="Mikhail Vasilev">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'SOFTWARE_DEVELOPER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.MIKHAIL_VASILEV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.MIKHAIL_VASILEV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamMikhailVasilev">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/mikhail-vasilev-236287bb/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>       

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamAntonPrudanov">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/AntonP.jpg" alt="Anton Prudanov">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'SOFTWARE_ENGINEER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.ANTON_PRUDANOV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.ANTON_PRUDANOV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamAntonPrudanov">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/anton-prudanov/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamYuliaBardinova">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/YuliaBardinova.jpg" alt="Yulia Bardinova">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'QA_ENGINEER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.YULIA_BARDINOVA.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.YULIA_BARDINOVA.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamYuliaBardinova">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/yulia-bardinova-0b30b4191/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamVladimirTsarev">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/VladimirTs.jpg" alt="Vladimir Tsarev">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'WEB_DEVELOPER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.VLADIMIR_TSAREV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.VLADIMIR_TSAREV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamVladimirTsarev">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/vladimir-tsarev-619997195/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>
          
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamStanPrihodko">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/StanP.jpeg" alt="Stan Prihodko">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'ADVISOR'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.STAN_PRIHODKO.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.STAN_PRIHODKO.DESCR_P1'}} <a href="https://gem.capital/" target="_blank">GEM Capital</a>{{__ 'TEAM_CARDS.STAN_PRIHODKO.DESCR_P2'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamStanPrihodko">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/stan-prikhodko-7a817a36/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>
          
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamAlexanderRugaev">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/AlexanderR.jpg" alt="Alexander Rugaev">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'ADVISOR'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.ALEXANDER_RUGAEV.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.ALEXANDER_RUGAEV.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamAlexanderRugaev">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/alexrugaev/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>
          
        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamShellyHodMoyal">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/ShellyH.png" alt="Shelly Hod Moyal">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'ADVISOR'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.SHELLY_HOD_MOYAL.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.SHELLY_HOD_MOYAL.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamShellyHodMoyal">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/shelly-hod-moyal-64698824/" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3 px-2 mb-3">
          <!-- Team -->
          <div class="card team-card shadow transition-3d-hover p-3" id="fancyboxTeamKellyIfaluyi">
            <div class="u-lg-avatar mb-4">
              <img class="img-fluid rounded-circle" src="img/enq/photo/OM.jpg" alt="Kelly Ifaluyi">
            </div>

            <small class="d-block text-secondary text-uppercase mb-1">{{__ 'COMMUNITY_MANAGER'}}</small>
            <div class="font-weight-bold mb-2">{{__ 'TEAM_CARDS.KELLY_IFALUYI.NAME'}}</div>
            <div class="font-size-1 mb-1 js-scrollbar team-card-about-person">
              {{__ 'TEAM_CARDS.KELLY_IFALUYI.DESCR'}}
            </div>
            <a href="javascript;" class="font-weight-semi-bold mb-3 js-fancybox" data-src="#fancyboxTeamKellyIfaluyi">{{__ 'READ_MORE'}}</a>

            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-sm btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/kelly-ifaluyi-5478b2169" target="_blank" >
                  <span class="fab fa-linkedin-in btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <!-- End Team -->
        </div>
      </div>
    </div>
</main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>



  <!-- JS Front -->
  <script src="js/hs.core.js"></script>
  <script src="vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="js/components/hs.header.js"></script>
  <script src="js/components/hs.unfold.js"></script>  

  <!-- JS Implementing Plugins -->
<script src="vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="js/components/hs.fancybox.js"></script>
<script src="vendor/appear.js"></script>
<script src="vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header 
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end

    // initialization of popups
    $.HSCore.components.HSFancyBox.init('.js-fancybox');
    $('.js-fancybox').fancybox({
      beforeLoad: function() {
        let that = this;
        let initCard = $(that.src).clone();
        // "that.src" is the selector of some "show fancybox control". $(that.src).parent() is the card's wrapper - col-size-number
        $(that.src).parent().addClass('activeTeamCard');
        initCard.appendTo($(that.src).parent());
      },
      afterShow: function() {
        $('.card.team-card').css({display: 'inline-block'});
        // Remove parasite effect when first social icon get focus state and change style
        $('.btn-soft-secondary[href]').on('focus', function() {
          $(this).blur();
        });
      },
      beforeClose: function() {
        //remove previously added card's clone ($('.activeTeamCard').children()[1]). Don't remove $('.activeTeamCard').children()[0] - it's a div with display:none property!!!!!  
        $('.activeTeamCard').children()[1].remove();
        $('.activeTeamCard').removeClass('activeTeamCard');
      },
      afterClose: function() {
        let that = this;
        $('.card.team-card').css({display: 'flex'});
      },
      touch: false
    });
  });
</script>
</body>
</html>