<!doctype html>
<html lang="{{currentLang}}">
<head>
  <!-- Title -->
  <title>{{__ 'TECHNOLOGY'}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="canonical" href="https://enecuum.com/technology"/>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/enq.css">
  <link rel="stylesheet" href="/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(/img/enq/enq-header-back-technology.svg); transform: translate3d(0px, -72.4172px, 0px);"></div>

      <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
          <h1 class="h2 text-white mb-4">{{__ 'TECHNOLOGY'}}</h1>
        </div>
      </div>                               
      <!-- End Content -->
    </div>

    <div class="container py-6 py-md-8" id="technologyTrinityProtocol">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-1 d-flex align-items-center justify-content-center">
          <img src="/img/enq/technology/trinity-protocol.png" alt="trinity protocol scheme">
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 pb-8 pb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'TECHNOLOGY_PAGE.TRINITY_PROTOCOL.H_1'}}</h2>
          <div class="h2 mb-4 text-center text-md-left">{{__ 'TECHNOLOGY_PAGE.TRINITY_PROTOCOL.H_2'}}</div>
          <div class="mb-5 mb-md-8 text-justify text-md-left">
            {{__ 'TECHNOLOGY_PAGE.TRINITY_PROTOCOL.P_1'}}
          </div>
          <a href="/pdf/tp_en.pdf" class="get-documentation-download-link transition-3d-hover d-none d-md-block" style="max-width: 110px;">
            <img src="/img/enq/techpaper.svg" alt="Techpaper icon">
          </a>
          <div class="d-flex d-md-none mx-auto">
            <a href="/pdf/tp_en.pdf" class="get-documentation-download-link btn btn-primary transition-3d-hover">{{__ 'TECHPAPER'}}</a> 
          </div>         
        </div>
      </div>
    </div>
    <div class="container py-6 py-md-8" id="technologyPOAMasternode">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-2 d-flex align-items-center justify-content-center">
          <img src="/img/enq/technology/poa-masternode-mobile.png" alt="poa masternode screen">          
        </div>
        <div class="col-12 col-md-6 order-1 order-md-1 pt-0 mb-8 py-md-10 mb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left mb-4">{{__ 'TECHNOLOGY_PAGE.POA_MOBILE_MASTERNODE.H_1'}}</h2>
          <div class="mb-5 mb-md-8 text-justify text-md-left">
            {{__ 'TECHNOLOGY_PAGE.POA_MOBILE_MASTERNODE.P_1'}}
          </div>
          <div class="d-flex mx-auto mx-md-0">
            <a href="{{guidesLink}}/faq.html#{{__ 'LINKS.WHAT_IS_POA'}}" class="get-documentation-download-link btn btn-primary transition-3d-hover">{{__ 'READ_MORE'}}</a>             
          </div>
         
        </div>
      </div>
    </div>    
    <div class="container py-6 py-md-8" id="technologyPOSNode">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-1 d-flex align-items-center justify-content-center">
          <img src="/img/enq/technology/pos-node.png" alt="pos node server">           
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 pb-8 pb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left">{{__ 'TECHNOLOGY_PAGE.POS_NODE.H_1'}}</h2>
          <div class="h2 mb-4 text-center text-md-left">{{__ 'TECHNOLOGY_PAGE.POS_NODE.H_2'}}</div>
          <div class="mb-5 mb-md-8 text-justify text-md-left">
            {{__ 'TECHNOLOGY_PAGE.POS_NODE.P_1'}}
          </div>
          <div class="d-flex mx-auto mx-md-0">
            <a href="{{guidesLink}}/how-to-mine-bit.html#{{__ 'LINKS.HOW_TO_RUN_POS'}}" class="get-documentation-download-link btn btn-primary transition-3d-hover">{{__ 'READ_MORE'}}</a>  
          </div>
        
        </div>
      </div>
    </div>
    <div class="container py-6 py-md-8" id="technologyPOWNode">
      <div class="row">
        <div class="col-12 col-md-6 img-container order-2 order-md-2 d-flex align-items-center justify-content-center">
          <img src="/img/enq/technology/pow-videocard.png" alt="pow node videocard">           
        </div>
        <div class="col-12 col-md-6 order-1 order-md-1 pt-0 mb-8 py-md-10 mb-md-0 d-flex flex-column justify-content-center">
          <h2 class="text-center text-md-left mb-4">{{__ 'TECHNOLOGY_PAGE.POW_NODE.H_1'}}</h2>
          <div class="mb-5 mb-md-8 text-justify text-md-left">
            {{__ 'TECHNOLOGY_PAGE.POW_NODE.P_1'}}
          </div>
          <div class="d-flex mx-auto mx-md-0">
            <a href="{{guidesLink}}/how-to-mine-bit.html#{{__ 'LINKS.HOW_TO_RUN_POW'}}" class="get-documentation-download-link btn btn-primary transition-3d-hover">{{__ 'READ_MORE'}}</a> 
          </div>         
        </div>
      </div>
    </div>
    <div class="bg-light">
      <div class="container py-6 py-md-8" id="technologyTokenMachine">
        <div>
          <h2 class="text-center mb-3">{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.H_1'}}</h2>
          <h3 class="h4 text-center mb-4">{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.H_2'}}</h3>          
        </div>
        <div class="row d-none d-lg-flex" id="tokenMahineTabWrapper">
          {{> tokenMachineTabs}}
        </div>
<!--         <div class="row d-none d-lg-flex">
          <div class="col-12 col-md-7 pl-8 offset-md-5">
            <a href="https://guides.enecuum.com" class="get-documentation-download-link btn btn-primary transition-3d-hover" style="margin-left: 110px;">{{__ 'READ_MORE'}}</a>               
          </div>
        </div>  -->
        <div class="d-block d-lg-none">
          {{> tokenMachineAccordion}}
        </div>
      </div>       
    </div>
    <div class="container py-6 py-md-8" id="technologyFeePrinciple">
      <h2 class="text-center mb-4">{{__ 'TECHNOLOGY_PAGE.FEE_PRINCIPLE.H_1'}}</h2>
      <img src="/img/enq/technology/fee-principle-wide.svg" class="w-100 mt-8 d-none d-lg-block">
      <img src="/img/enq/technology/fee-principle.svg" class="w-100 mt-8 d-block d-lg-none">
    </div>
    <div class="bg-light">
      <div class="container py-6 py-md-8" id="technologySmartContracts">
        <div class="row">
          <div class="col-12 col-md-5 order-2 order-md-2 img-container d-flex align-items-center justify-content-center text-white font-weight-bolder">
            <img src="/img/enq/technology/code-blur.png" alt="smart contracts code">
            <div class="position-absolute">{{__ 'COMING_SOON'}}</div>            
          </div>
          <div class="col-12 col-md-7 order-1 order-md-1 pt-0 mb-8 mb-md-0 d-flex flex-column justify-content-center">
            <h2 class="text-center text-md-left mb-4">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.TITLE'}}</h2>
            <div class="mb-6 text-justify text-md-left">
              {{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.DESCR'}}
            </div>
            <div class="font-weight-bolder mb-4">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.TITLE'}}</div>
            <div class="d-flex flex-column flex-md-row">
              <ul class="pl-0 mr-5 mb-0">
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_1'}}</li>
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_2'}}</li>
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_3'}}</li>
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_4'}}</li>
              </ul>
              <ul class="pl-0 mb-0">
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_5'}}</li>
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_6'}}</li>
                <li class="d-flex py-2 align-items-center">{{__ 'TECHNOLOGY_PAGE.SMART_CONTRACTS.USE_CASES.F_7'}}</li>
              </ul>
            </div>      
          </div>
        </div>
      </div>      
    </div>
       
    <!-- <div class="container space-2 space-md-3" id="trinityConsensus">
      <h2 class="mb-4">{{__ 'TRINITY_CONSENSUS'}}</h2>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mb-5">
            {{__ 'TECHNOLOGY_PAGE.TRINITY_CONSENSUS.P_1'}}
          </div>
          <div>
            {{__ 'TECHNOLOGY_PAGE.TRINITY_CONSENSUS.P_2'}}
          </div>
        </div>
      </div>
    </div>


    <div class="bg-light">
      <div class="container space-2 space-md-3" id="blockDagStructure">
        <div class="row">
          <h2 class="col-12 offset-0 col-lg-6 offset-lg-6 mb-4">{{__ 'BLOCK_DAG_STRUCTURE'}}</h2>
          <div class="col-12 offset-0 col-lg-6 offset-lg-6">
            <div class="mb-3">
              {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_1'}}
            </div>
            <div class="mb-3">
              {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_2'}}
            </div>
            <div>
              {{__ 'TECHNOLOGY_PAGE.BLOCK_DAG_STRUCTURE.P_3'}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container space-2 space-md-3" id="networkPerformance">
      <h2 class="mb-4">{{__ 'NETWORK_PERFORMANCE_AND_TOPOLOGY'}}</h2>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mb-5">
            <ul>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_1'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_2'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_3'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_4'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_5'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_6'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_7'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_8'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.NETWORK_PERFORMANCE_AND_TOPOLOGY.P_9'}}.</li>
            </ul>
          </div>       
        </div>
        <div class="col-12 col-lg-7">
          <table class="table table-to-cards">
            <thead>
              <tr>
                <th class="text-muted">{{__ 'NODES'}} (Pos/Pow + PoA)</th>
                <th class="text-muted">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</th>
                <th class="text-muted">{{__ 'PROOF'}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>100 + 3000</td>
                <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>9000 tps/ 5 {{__ 'UNITS.S'}}</td>
                <td><span class="scope-col">{{__ 'PROOF'}}</span>{{__ 'TEST_NET'}}</td>
              </tr>
            <tr>
                <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>2 000 + 25 000</td>
                <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>12000 tps/ 9 {{__ 'UNITS.S'}}</td>
                <td><span class="scope-col">{{__ 'PROOF'}}</span>9 {{__ 'UNITS.S'}} {{__ 'SIMULATION'}}</td>
              </tr>
            <tr>
                <td><span class="scope-col">{{__ 'NODES'}} (Pos/Pow + PoA)</span>5 000 + 15 000 000</td>
                <td><span class="scope-col">{{__ 'THROUGHPUT'}}/{{__ 'LATENCY'}}</span>18000 tps/ 25 {{__ 'UNITS.S'}}</td>
                <td><span class="scope-col">{{__ 'PROOF'}}</span>25 {{__ 'UNITS.S'}} {{__ 'ANALYTICS'}}</td>
              </tr>
            </tbody>
          </table>
        </div>   
      </div>
    </div>

    <div class="bg-light pt-4 pb-8">
      <div class="container space-2 space-md-3" id="infrastructureAndEcosystem">
        <div class="row">
          <h2 class="col-12 offset-0 col-lg-6 offset-lg-6 mb-4">{{__ 'INFRASTRUCTURE_AND_ECOSYSTEM'}}</h2>
          <div class="col-12 offset-0 col-lg-6 offset-lg-6">
            <ul>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_1'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_2'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_3'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_4'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_5'}};</li>
              <li>{{__ 'TECHNOLOGY_PAGE.INFRASTRUCTURE_AND_ECOSYSTEM.P_6'}}.</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
  </main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/js/components/hs.header.js"></script>
  <script src="/js/components/hs.unfold.js"></script>


  <!-- JS Implementing Plugins -->
<script src="/vendor/appear.js"></script>
<script src="/vendor/hs-megamenu/src/hs.megamenu.js"></script>


<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
    
  });

</script>
</body>
</html>