<!doctype html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{{__ 'TOKEN_UTILITY'}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="vendor/animate.css/animate.min.css">  
  <link rel="stylesheet" href="vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/enq.css">
  <link rel="stylesheet" href="vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(56652799, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56652799" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>

  <main id="content" role="main">
    <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(img/enq/enq-header-back-enq.png); transform: translate3d(0px, -72.4172px, 0px);"></div>

      <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
          <h2 class="text-white mb-4">{{__ 'TOKEN_UTILITY'}}</h2>
        </div>
      </div>
      <!-- End Content -->
    </div>

    <div class="container space-1 space-md-2">
      <h2 class="mb-4 text-center">{{__ 'ENQ_ERC20_TOKENS'}}</h2>
      <div class="w-100 w-lg-65 mx-auto text-center">
        {{__ 'ENQ_ERC20_TOKENS_DESCR'}}
      </div>
    </div>


    <div class="bg-light">
      <div class="container space-1 space-md-2">
        <h2 class="mb-4">ENQ</h2>
        <div class="row mb-8">
          <div class="col-12 col-lg-7 mb-5">
            {{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.PRE'}}
          </div>

          <div class="col-12 col-lg-6 pr-0 pr-lg-4">
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">a.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_A'}}</span>
            </div>
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">b.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_B'}}</span>
            </div>
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">c.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_C'}}</span>
            </div>
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">d.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_D'}}</span>
            </div>
          </div>
          <div class="col-12 col-lg-6 pl-lg-4">
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">e.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_E'}}</span>
            </div>
            <div class="d-flex mb-3">
              <span class="list-marker-lower-alpha-blue mr-2">f.</span>
              <span>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.P_F'}}</span>
            </div>
            <div class="ml-0 ml-lg-4 mt-5 mt-lg-0">{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.FURTHER_DETAILS_P1'}} <a href="pdf/pp_en.pdf" target="_blank"><u>{{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.FURTHER_DETAILS_P2'}}</u></a> {{__ 'ENECUUM_ENVIRONMENT_FUNCTIONALITY.FURTHER_DETAILS_P3'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 font-weight-bold small mb-3 text-muted">{{__ 'DISCLAIMER'}}</div>
          <div class="col-12 col-lg-9 border-top-70 small">{{__ 'COPYRIGHT_INFO_P1'}} <a href="pdf/privacy.pdf" target="_blank"><u>{{__ 'COPYRIGHT_INFO_P2'}}</u></a> {{__ 'COPYRIGHT_INFO_P3'}} <a href="pdf/terms.pdf" target="_blank"><u>{{__ 'COPYRIGHT_INFO_P4'}}</u></a></div>
        </div>
      </div>
    </div>

  </main>

<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="js/hs.core.js"></script>
  <script src="vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="js/components/hs.header.js"></script>
  <script src="js/components/hs.unfold.js"></script>  


  <!-- JS Implementing Plugins -->
<script src="vendor/appear.js"></script>
<script src="vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });    
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    
    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end

  });

</script>
</body>
</html>