<div class="my-5">
	<div class="h2">2021</div>
	<ul>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2021.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2021.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2021.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2021.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2021.TASKS.T_5'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2021.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2021.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2021.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2021.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2021.TASKS.T_5'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2021.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2021.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2021.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2021.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2021.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2021.TASKS.T_2'}}</li>
	</ul>
</div>

<div class="my-5">
	<div class="h2">2020</div>
	<ul>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2020.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2020.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2020.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2020.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2020.TASKS.T_2'}}</li> 
		<li>{{__ 'ROADMAP_CONTENT.Q3_2020.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2020.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2020.TASKS.T_3'}}</li> 
		<li>{{__ 'ROADMAP_CONTENT.Q4_2020.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2020.TASKS.T_2'}}</li> 
	</ul>
</div>

<div class="my-5">
	<div class="h2">2019</div>
	<ul>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2019.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2019.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2019.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2019.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2019.TASKS.T_5'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_5'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2019.TASKS.T_6'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_5'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_6'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2019.TASKS.T_7'}}</li> 
		<li>{{__ 'ROADMAP_CONTENT.Q4_2019.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2019.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2019.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2019.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2019.TASKS.T_5'}}</li>
	</ul>
</div>

<div class="my-5">
	<div class="h2">2018</div>
	<ul>
		<li>{{__ 'ROADMAP_CONTENT.Q1_2018.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2018.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2018.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2018.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2018.TASKS.T_3'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2018.TASKS.T_4'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2018.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2018.TASKS.T_2'}}</li>
	</ul>
</div>

<div class="my-5">
	<div class="h2">2017</div>
	<ul>
		<li>{{__ 'ROADMAP_CONTENT.Q2_2017.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2017.TASKS.T_1'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q3_2017.TASKS.T_2'}}</li>
		<li>{{__ 'ROADMAP_CONTENT.Q4_2017.TASKS.T_1'}}</li>
	</ul>
</div>